archive/automation_n8n/CEO Directive - WF1 - Gửi yêu cầu Xác nhận (v2 DYNAMIC).json
{
  "name": "CEO Directive - WF1 - Gửi yêu cầu Xác nhận (v2 DYNAMIC)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 8
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "9abf8678-830d-47d6-9e4f-189a41b28493",
          "mode": "list",
          "cachedResultName": "Chỉ đạo Cần Làm Rõ",
          "cachedResultUrl": "https://www.notion.so/9abf8678830d47d69e4f189a41b28493"
        },
        "simple": false
      },
      "id": "e9e250da-9aa2-4b5a-8686-7839595dc4fe",
      "name": "Notion Trigger - New Clarification",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        480,
        -32
      ],
      "credentials": {
        "notionApi": {
          "id": "sDlz7N367IegDSAc",
          "name": "Notion ESUHAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// STEP 1: Extract Clarification Data\n// Naming convention: Match Notion field names\n// ========================================\n\nconst clarification = $input.first().json;\nconst properties = clarification.properties || {};\n\n// ========== DYNAMIC FIELD EXTRACTION ==========\n// Group fields by type for smart detection\nconst fieldsByType = {\n  title: [],\n  relation: [],\n  rich_text: [],\n  select: [],\n  date: []\n};\n\nfor (const [fieldName, fieldData] of Object.entries(properties)) {\n  const fieldType = fieldData.type;\n  if (fieldsByType[fieldType]) {\n    fieldsByType[fieldType].push({ name: fieldName, data: fieldData });\n  }\n}\n\n// ========== EXTRACT BY FIELD TYPE + KEYWORD ==========\nconst getValue = (type, keywords) => {\n  const fields = fieldsByType[type] || [];\n  for (const f of fields) {\n    const nameLC = f.name.toLowerCase();\n    if (keywords.some(kw => nameLC.includes(kw.toLowerCase()))) {\n      if (type === 'title') return { value: f.data.title?.[0]?.plain_text || '', fieldName: f.name };\n      if (type === 'rich_text') return { value: f.data.rich_text?.[0]?.plain_text || '', fieldName: f.name };\n      if (type === 'select') return { value: f.data.select?.name || '', fieldName: f.name };\n      if (type === 'date') return { value: f.data.date?.start || '', fieldName: f.name };\n    }\n  }\n  return { value: '', fieldName: null };\n};\n\n// Find relation field pointing to HR\nlet nguoiNhanChiDaoHR_Id = null;\nlet nguoiNhanChiDaoHR_FieldName = null;\n\nfor (const f of fieldsByType.relation) {\n  if (f.data.relation?.length > 0) {\n    const nameLC = f.name.toLowerCase();\n    if (nameLC.includes('hr') || nameLC.includes('người') || nameLC.includes('nhận') || nameLC.includes('thực hiện')) {\n      nguoiNhanChiDaoHR_Id = f.data.relation[0].id;\n      nguoiNhanChiDaoHR_FieldName = f.name;\n      break;\n    }\n    // Fallback: first relation with data\n    if (!nguoiNhanChiDaoHR_Id) {\n      nguoiNhanChiDaoHR_Id = f.data.relation[0].id;\n      nguoiNhanChiDaoHR_FieldName = f.name;\n    }\n  }\n}\n\n// ========== EXTRACT VALUES (Matching Notion Field Names) ==========\n// Title field\nlet tieuDe = '';\nlet tieuDe_FieldName = '';\nfor (const f of fieldsByType.title) {\n  tieuDe = f.data.title?.[0]?.plain_text || '';\n  tieuDe_FieldName = f.name;\n  break;\n}\n\nconst noiDungChiDao = getValue('rich_text', ['nội dung', 'chỉ đạo']);\nconst t2NhiemVu = getValue('rich_text', ['nhiệm vụ', 't2']);\nconst t3ChiTieu = getValue('rich_text', ['chỉ tiêu', 't3']);\nconst t4ThoiHan = getValue('date', ['thời hạn', 't4', 'deadline']);\nconst uuTien = getValue('select', ['ưu tiên', 'priority']);\nconst nguonGiaoViec = getValue('rich_text', ['nguồn']);\n\n// Log field mapping for debugging\nconsole.log('=== FIELD MAPPING ===');\nconsole.log('Tiêu đề:', tieuDe_FieldName, '->', tieuDe);\nconsole.log('Nội dung chỉ đạo:', noiDungChiDao.fieldName, '->', noiDungChiDao.value.substring(0, 50));\nconsole.log('T2 - Nhiệm vụ:', t2NhiemVu.fieldName, '->', t2NhiemVu.value);\nconsole.log('T3 - Chỉ tiêu:', t3ChiTieu.fieldName, '->', t3ChiTieu.value);\nconsole.log('T4 - Thời hạn:', t4ThoiHan.fieldName, '->', t4ThoiHan.value);\nconsole.log('Ưu tiên:', uuTien.fieldName, '->', uuTien.value);\nconsole.log('Nguồn giao việc:', nguonGiaoViec.fieldName, '->', nguonGiaoViec.value);\nconsole.log('Người nhận chỉ đạo (HR):', nguoiNhanChiDaoHR_FieldName, '->', nguoiNhanChiDaoHR_Id);\n\nreturn {\n  // Clarification info\n  clarificationId: clarification.id,\n  clarificationUrl: clarification.url || 'https://www.notion.so/' + clarification.id.replace(/-/g, ''),\n  \n  // Fields matching Notion names\n  'Tiêu đề': tieuDe,\n  'Nội dung chỉ đạo': noiDungChiDao.value,\n  'T2 - Nhiệm vụ': t2NhiemVu.value,\n  'T3 - Chỉ tiêu': t3ChiTieu.value,\n  'T4 - Thời hạn': t4ThoiHan.value,\n  'Ưu tiên': uuTien.value,\n  'Nguồn giao việc': nguonGiaoViec.value || 'CEO',\n  \n  // HR relation\n  'Người nhận chỉ đạo (HR)': nguoiNhanChiDaoHR_Id,\n  \n  // Field name mapping (for debugging)\n  _fieldMapping: {\n    tieuDe: tieuDe_FieldName,\n    noiDungChiDao: noiDungChiDao.fieldName,\n    t2NhiemVu: t2NhiemVu.fieldName,\n    t3ChiTieu: t3ChiTieu.fieldName,\n    t4ThoiHan: t4ThoiHan.fieldName,\n    uuTien: uuTien.fieldName,\n    nguonGiaoViec: nguonGiaoViec.fieldName,\n    nguoiNhanChiDaoHR: nguoiNhanChiDaoHR_FieldName\n  }\n};"
      },
      "id": "afdfaff6-bd87-4636-a01a-e1bc740e6d40",
      "name": "Extract Clarification Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json['Người nhận chỉ đạo (HR)'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "802357fe-afe2-4ea9-9151-f1627bd50d13",
      "name": "Filter: Has HR Relation",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        928,
        -32
      ]
    },
    {
      "parameters": {
        "url": "=https://api.notion.com/v1/pages/{{ $json['Người nhận chỉ đạo (HR)'] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "d35509e2-b5fa-47c5-8a2d-7b37e44f327f",
      "name": "Get HR Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        -32
      ],
      "credentials": {
        "notionApi": {
          "id": "sDlz7N367IegDSAc",
          "name": "Notion ESUHAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// STEP 2: Extract HR Info + Build Prefill URL\n// ========================================\n\nconst clarData = $('Extract Clarification Data').first().json;\nconst hrPage = $('Get HR Page').first().json;\nconst hrProperties = hrPage.properties || {};\n\n// ========== EXTRACT HR EMAIL & NAME ==========\nlet hrEmail = '';\nlet hrHoVaTen = '';\n\nfor (const [fieldName, fieldData] of Object.entries(hrProperties)) {\n  const nameLC = fieldName.toLowerCase();\n  const fieldType = fieldData.type;\n  \n  // Find Email field\n  if (fieldType === 'email' && fieldData.email) {\n    hrEmail = fieldData.email;\n  }\n  \n  // Find Name field (title type)\n  if (fieldType === 'title') {\n    hrHoVaTen = fieldData.title?.[0]?.plain_text || '';\n  }\n  // Backup: rich_text with name keywords\n  if (fieldType === 'rich_text' && (nameLC.includes('tên') || nameLC.includes('họ'))) {\n    const text = fieldData.rich_text?.[0]?.plain_text || '';\n    if (text && !hrHoVaTen) hrHoVaTen = text;\n  }\n}\n\n// Fallback\nif (!hrEmail) hrEmail = 'hoangkha@esuhai.com';\nif (!hrHoVaTen) hrHoVaTen = 'Anh/Chị';\n\nconsole.log('HR Email:', hrEmail);\nconsole.log('HR Họ và Tên:', hrHoVaTen);\n\n// ========== BUILD PREFILL URL ==========\nconst FORM_URL = 'https://docs.google.com/forms/d/e/1FAIpQLSdzRTOucM4qWwlxyx3yEelDorBv2ADnL8jFUUW7-xpqdidvBw/viewform?usp=pp_url';\n\n// Entry IDs mapping\nconst ENTRY_IDS = {\n  'clarificationId': 'entry.1684171280',\n  'Tiêu đề': 'entry.1878008034',\n  'Nội dung chỉ đạo': 'entry.1953342780',\n  'T2 - Nhiệm vụ': 'entry.1839616630',\n  'T3 - Chỉ tiêu': 'entry.649583359',\n  'T4 - Thời hạn': 'entry.1319518938',\n  'Ưu tiên': 'entry.1910876946',\n  'Nguồn giao việc': 'entry.1661283634'\n};\n\nconst params = {\n  [ENTRY_IDS['clarificationId']]: clarData.clarificationId,\n  [ENTRY_IDS['Tiêu đề']]: clarData['Tiêu đề'],\n  [ENTRY_IDS['Nội dung chỉ đạo']]: clarData['Nội dung chỉ đạo'],\n  [ENTRY_IDS['T2 - Nhiệm vụ']]: clarData['T2 - Nhiệm vụ'],\n  [ENTRY_IDS['T3 - Chỉ tiêu']]: clarData['T3 - Chỉ tiêu'],\n  [ENTRY_IDS['T4 - Thời hạn']]: clarData['T4 - Thời hạn'],\n  [ENTRY_IDS['Ưu tiên']]: clarData['Ưu tiên'],\n  [ENTRY_IDS['Nguồn giao việc']]: clarData['Nguồn giao việc']\n};\n\nconst queryString = Object.keys(params)\n  .map(key => key + '=' + encodeURIComponent(params[key] || ''))\n  .join('&');\n\nconst prefillUrl = FORM_URL + '&' + queryString;\n\n// Check 4T completeness\nconst has4T = clarData['Tiêu đề'] && \n              clarData['T2 - Nhiệm vụ'] && \n              clarData['T3 - Chỉ tiêu'] && \n              clarData['T4 - Thời hạn'];\n\nconst statusMessage = has4T \n  ? '✅ Chỉ đạo đã có đủ 4T. Vui lòng XÁC NHẬN và CAM KẾT thực hiện.'\n  : '⚠️ Chỉ đạo còn thiếu thông tin. Vui lòng BỔ SUNG các trường còn trống.';\n\nreturn {\n  ...clarData,\n  \n  // HR info\n  hrEmail,\n  'Họ và Tên': hrHoVaTen,\n  \n  // Form\n  prefillUrl,\n  has4T,\n  statusMessage\n};"
      },
      "id": "ddaa6b8c-f2c6-4e66-8a14-75ac568e2b45",
      "name": "Build Prefill URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        -32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.hrEmail }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "08dc53f2-d391-403e-99e1-17899cedaf99",
      "name": "Filter: Has Email",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1584,
        -32
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.hrEmail }}",
        "subject": "=[Xác nhận Chỉ đạo] {{ $json['Tiêu đề'] }}",
        "message": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 650px; margin: 0 auto; background: #ffffff;\">\n  \n  <!-- Header -->\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; text-align: center; border-radius: 8px 8px 0 0;\">\n    <h1 style=\"color: #ffffff; margin: 0; font-size: 24px;\">📋 Yêu cầu Xác nhận Chỉ đạo</h1>\n  </div>\n  \n  <!-- Body -->\n  <div style=\"padding: 30px; background: #f8f9fa; border: 1px solid #e9ecef;\">\n    \n    <p style=\"font-size: 16px; color: #333; margin-bottom: 20px;\">\n      Xin chào <strong style=\"color: #667eea;\">{{ $json['Họ và Tên'] }}</strong>,\n    </p>\n    \n    <!-- Status Alert -->\n    <div style=\"background: {{ $json.has4T ? '#d4edda' : '#fff3cd' }}; border-left: 4px solid {{ $json.has4T ? '#28a745' : '#ffc107' }}; padding: 15px; margin-bottom: 20px; border-radius: 0 8px 8px 0;\">\n      <p style=\"margin: 0; color: {{ $json.has4T ? '#155724' : '#856404' }}; font-weight: bold;\">{{ $json.statusMessage }}</p>\n    </div>\n    \n    <p style=\"font-size: 15px; color: #555; line-height: 1.6;\">\n      Bạn được giao thực hiện chỉ đạo sau. Vui lòng đọc kỹ, bổ sung nếu thiếu, và <strong>XÁC NHẬN CAM KẾT</strong> thực hiện.\n    </p>\n    \n    <!-- Directive Content Box -->\n    <div style=\"background: #ffffff; border: 2px solid #667eea; padding: 20px; margin: 20px 0; border-radius: 8px;\">\n      <h3 style=\"color: #667eea; margin-top: 0; border-bottom: 1px solid #eee; padding-bottom: 10px;\">📌 {{ $json['Tiêu đề'] }}</h3>\n      \n      <div style=\"margin-bottom: 15px;\">\n        <p style=\"color: #888; margin: 0 0 5px 0; font-size: 12px;\">NỘI DUNG CHỈ ĐẠO:</p>\n        <p style=\"color: #333; margin: 0; background: #f8f9fa; padding: 10px; border-radius: 4px;\">{{ $json['Nội dung chỉ đạo'] || '(Chưa có)' }}</p>\n      </div>\n      \n      <table style=\"width: 100%; border-collapse: collapse; margin-top: 15px;\">\n        <tr style=\"border-bottom: 1px solid #eee;\">\n          <td style=\"padding: 10px 0; color: #888; width: 140px;\">T2 - Nhiệm vụ:</td>\n          <td style=\"padding: 10px 0; color: {{ $json['T2 - Nhiệm vụ'] ? '#333' : '#dc3545' }}; font-weight: {{ $json['T2 - Nhiệm vụ'] ? 'normal' : 'bold' }};\">{{ $json['T2 - Nhiệm vụ'] || '⚠️ CẦN BỔ SUNG' }}</td>\n        </tr>\n        <tr style=\"border-bottom: 1px solid #eee;\">\n          <td style=\"padding: 10px 0; color: #888;\">T3 - Chỉ tiêu:</td>\n          <td style=\"padding: 10px 0; color: {{ $json['T3 - Chỉ tiêu'] ? '#333' : '#dc3545' }}; font-weight: {{ $json['T3 - Chỉ tiêu'] ? 'normal' : 'bold' }};\">{{ $json['T3 - Chỉ tiêu'] || '⚠️ CẦN BỔ SUNG' }}</td>\n        </tr>\n        <tr style=\"border-bottom: 1px solid #eee;\">\n          <td style=\"padding: 10px 0; color: #888;\">T4 - Thời hạn:</td>\n          <td style=\"padding: 10px 0; color: {{ $json['T4 - Thời hạn'] ? '#e74c3c' : '#dc3545' }}; font-weight: bold;\">{{ $json['T4 - Thời hạn'] || '⚠️ CẦN BỔ SUNG' }}</td>\n        </tr>\n        <tr>\n          <td style=\"padding: 10px 0; color: #888;\">Ưu tiên:</td>\n          <td style=\"padding: 10px 0;\"><span style=\"background: #ffeaa7; padding: 3px 10px; border-radius: 10px; font-size: 13px;\">{{ $json['Ưu tiên'] || 'Chưa xác định' }}</span></td>\n        </tr>\n      </table>\n    </div>\n    \n    <!-- Important Note -->\n    <div style=\"background: #e7f3ff; border-left: 4px solid #2196F3; padding: 15px; margin: 20px 0; border-radius: 0 8px 8px 0;\">\n      <p style=\"margin: 0; color: #1565c0; font-size: 14px;\">\n        <strong>⚠️ Lưu ý quan trọng:</strong><br>\n        • Đọc kỹ toàn bộ nội dung chỉ đạo<br>\n        • Bổ sung/sửa đổi nếu cần thiết<br>\n        • Tick xác nhận đã đọc và cam kết thực hiện<br>\n        • Mọi thay đổi sẽ được ghi nhận trong hệ thống\n      </p>\n    </div>\n    \n    <!-- CTA Button -->\n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"{{ $json.prefillUrl }}\" style=\"display: inline-block; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: #ffffff; padding: 16px 50px; text-decoration: none; border-radius: 25px; font-weight: bold; font-size: 16px; box-shadow: 0 4px 15px rgba(102, 126, 234, 0.4);\">\n        👉 XÁC NHẬN VÀ CAM KẾT\n      </a>\n    </div>\n    \n    <p style=\"text-align: center; margin-top: 20px;\">\n      <a href=\"{{ $json.clarificationUrl }}\" style=\"color: #667eea; text-decoration: none; font-size: 14px;\">📎 Xem Chỉ đạo trong Notion</a>\n    </p>\n    \n  </div>\n  \n  <!-- Footer -->\n  <div style=\"background: #343a40; padding: 20px; text-align: center; border-radius: 0 0 8px 8px;\">\n    <p style=\"color: #adb5bd; margin: 0; font-size: 13px;\">Hệ thống theo dõi Chỉ đạo CEO - EsuhaiGroup</p>\n    <p style=\"color: #6c757d; margin: 8px 0 0 0; font-size: 11px;\">Email tự động từ n8n | Nguồn: {{ $json['Nguồn giao việc'] }}</p>\n  </div>\n  \n</div>",
        "options": {
          "bccList": "hoangkha@esuhai.com"
        }
      },
      "id": "eb4c63ad-0f0a-41d6-becd-84664f27d356",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1808,
        -32
      ],
      "webhookId": "f5fdbbe3-ff88-4ce9-b55e-4de4d0526066",
      "credentials": {
        "gmailOAuth2": {
          "id": "QMCQ41m8F8hiBKal",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Clarification Data').first().json.clarificationId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Tình trạng\": {\n      \"select\": {\n        \"name\": \"📧 Đã gửi email\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "id": "4959fbed-11f5-4a98-8ccb-fbd556ab0728",
      "name": "Update Clarification Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2032,
        -32
      ],
      "credentials": {
        "notionApi": {
          "id": "sDlz7N367IegDSAc",
          "name": "Notion ESUHAI"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Notion Trigger - New Clarification": {
      "main": [
        [
          {
            "node": "Extract Clarification Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Clarification Data": {
      "main": [
        [
          {
            "node": "Filter: Has HR Relation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Has HR Relation": {
      "main": [
        [
          {
            "node": "Get HR Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get HR Page": {
      "main": [
        [
          {
            "node": "Build Prefill URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prefill URL": {
      "main": [
        [
          {
            "node": "Filter: Has Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Has Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Update Clarification Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0c823940-4e1a-448b-8393-3f65f4c26642",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "713be899eac04f9192785798e717fb5898ccbfb1aeeb4016ea13e34e3e92a901"
  },
  "id": "EY8IRwgSIg3gzYJJ",
  "tags": []
}