archive/automation_n8n/WF1_v7_FIXED.json
{
  "name": "CEO Directive - WF1 - Gửi Yêu cầu Xác nhận (v7 FIXED)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "mode": "everyHour"
            }
          ]
        }
      },
      "id": "schedule-001",
      "name": "Schedule: Mỗi giờ",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/9abf8678-830d-47d6-9e4f-189a41b28493/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"or\": [\n      {\n        \"property\": \"Tình trạng\",\n        \"select\": {\n          \"equals\": \"Chờ làm rõ\"\n        }\n      },\n      {\n        \"property\": \"Tình trạng\",\n        \"select\": {\n          \"equals\": \"🆕 Mới tạo\"\n        }\n      },\n      {\n        \"property\": \"Tình trạng\",\n        \"select\": {\n          \"equals\": \"Mới tạo\"\n        }\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "query-001",
      "name": "Query: Clarifications cần gửi email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "sDlz7N367IegDSAc",
          "name": "Notion ESUHAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst results = response.results || [];\n\nif (results.length === 0) {\n  console.log('Không có Clarification nào cần gửi email');\n  return [];\n}\n\nconsole.log(`Tìm thấy ${results.length} Clarification cần xử lý`);\nreturn results.map(item => ({ json: item }));"
      },
      "id": "split-001",
      "name": "Split Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        710,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// WF1 v7 - PROCESS CLARIFICATION\n// ========================================\n\nconst item = $input.first().json;\nconst properties = item.properties || {};\n\nfunction getField(type, keywords) {\n  for (const [name, data] of Object.entries(properties)) {\n    if (data.type !== type) continue;\n    const nameLower = name.toLowerCase();\n    if (keywords.some(kw => nameLower.includes(kw.toLowerCase()))) {\n      if (type === 'title') return data.title?.[0]?.plain_text || '';\n      if (type === 'rich_text') return data.rich_text?.[0]?.plain_text || '';\n      if (type === 'select') return data.select?.name || '';\n      if (type === 'date') return data.date?.start || '';\n      if (type === 'email') return data.email || '';\n    }\n  }\n  return '';\n}\n\nlet tieuDe = '';\nfor (const [name, data] of Object.entries(properties)) {\n  if (data.type === 'title' && data.title?.[0]) {\n    tieuDe = data.title[0].plain_text || '';\n    break;\n  }\n}\n\nconst tinhTrang = getField('select', ['tình trạng', 'status']);\nconst t2NhiemVu = getField('rich_text', ['nhiệm vụ', 't2']);\nconst t3ChiTieu = getField('rich_text', ['chỉ tiêu', 't3']);\nconst t4ThoiHan = getField('date', ['thời hạn', 't4', 'deadline']);\nconst nguonGiaoViec = getField('select', ['nguồn']);\nconst emailDauMoi = getField('email', ['email', 'đầu mối']);\n\nlet hrRelationId = '';\nfor (const [name, data] of Object.entries(properties)) {\n  if (data.type === 'relation') {\n    const nameLower = name.toLowerCase();\n    if (nameLower.includes('người nhận') || nameLower.includes('hr') || nameLower.includes('chỉ đạo')) {\n      if (data.relation && data.relation.length > 0) {\n        hrRelationId = data.relation[0].id || '';\n      }\n      break;\n    }\n  }\n}\n\nlet emailSource = 'fallback';\nlet sendTo = 'vynnl@esuhai.com';\nlet ccEmail = 'hoangkha@esuhai.com';\nlet needHRLookup = false;\n\nif (emailDauMoi && emailDauMoi.includes('@')) {\n  emailSource = 'direct_field';\n  sendTo = emailDauMoi;\n  ccEmail = '';\n} else if (hrRelationId) {\n  emailSource = 'hr_lookup';\n  needHRLookup = true;\n}\n\nconst formId = '1FAIpQLSdzRTOucM4qWwlxyx3yEelDorBv2ADnL8jFUUW7-xpqdidvBw';\nconst baseUrl = `https://docs.google.com/forms/d/e/${formId}/viewform?usp=pp_url`;\nconst params = [\n  `entry.123456789=${encodeURIComponent(item.id)}`,\n  `entry.987654321=${encodeURIComponent(tieuDe || '')}`,\n  `entry.111111111=${encodeURIComponent(t2NhiemVu || '')}`,\n  `entry.222222222=${encodeURIComponent(t3ChiTieu || '')}`,\n  `entry.333333333=${encodeURIComponent(t4ThoiHan || '')}`\n].join('&');\nconst prefillUrl = `${baseUrl}&${params}`;\n\nconsole.log('Processing:', tieuDe.substring(0, 40), '| Email:', sendTo);\n\nreturn {\n  clarificationId: item.id,\n  clarificationUrl: item.url || `https://www.notion.so/${item.id.replace(/-/g, '')}`,\n  tieuDe,\n  tinhTrang,\n  t2NhiemVu,\n  t3ChiTieu,\n  t4ThoiHan,\n  nguonGiaoViec: nguonGiaoViec || 'CEO',\n  emailSource,\n  sendTo,\n  ccEmail,\n  bccEmail: 'hoangkha@esuhai.com',\n  hrRelationId,\n  needHRLookup,\n  prefillUrl,\n  has4T: Boolean(tieuDe && t2NhiemVu && t3ChiTieu && t4ThoiHan)\n};"
      },
      "id": "process-001",
      "name": "Process Clarification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.needHRLookup }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-hr-001",
      "name": "IF: Need HR Lookup?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1170,
        300
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.hrRelationId }}",
          "mode": "id"
        }
      },
      "id": "get-hr-001",
      "name": "Get HR Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1400,
        200
      ],
      "credentials": {
        "notionApi": {
          "id": "sDlz7N367IegDSAc",
          "name": "Notion ESUHAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// WF1 v7 - RESOLVE HR EMAIL\n// ========================================\n\nconst hrPage = $input.first().json;\nconst originalData = $('Process Clarification').item.json;\n\nlet hrEmail = '';\nconst props = hrPage.properties || {};\n\nfor (const [name, data] of Object.entries(props)) {\n  if (data.type === 'email' && data.email) {\n    hrEmail = data.email;\n    break;\n  }\n  if (data.type === 'rich_text' && data.rich_text?.[0]?.plain_text) {\n    const text = data.rich_text[0].plain_text;\n    if (text.includes('@')) {\n      hrEmail = text.trim();\n      break;\n    }\n  }\n}\n\nlet sendTo = hrEmail;\nlet ccEmail = '';\nlet emailResolution = 'hr_lookup';\n\nif (!hrEmail) {\n  sendTo = 'vynnl@esuhai.com';\n  ccEmail = 'hoangkha@esuhai.com';\n  emailResolution = 'fallback_from_hr';\n}\n\nconsole.log('HR Email:', hrEmail || '(none)', '→ sendTo:', sendTo);\n\nreturn {\n  ...originalData,\n  sendTo: sendTo,\n  ccEmail: ccEmail,\n  emailResolution: emailResolution\n};"
      },
      "id": "resolve-hr-001",
      "name": "Resolve HR Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1630,
        200
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.sendTo }}",
        "subject": "=📋 Xác nhận Chỉ đạo: {{ $json.tieuDe.substring(0, 50) }}{{ $json.tieuDe.length > 50 ? '...' : '' }}",
        "message": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 650px; margin: 0 auto;\">\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; text-align: center; border-radius: 8px 8px 0 0;\">\n    <h1 style=\"color: #fff; margin: 0; font-size: 22px;\">📋 Yêu cầu Xác nhận Chỉ đạo</h1>\n    <p style=\"color: rgba(255,255,255,0.85); margin: 10px 0 0 0;\">Văn phòng Tổng Giám đốc - EsuhaiGroup</p>\n  </div>\n  <div style=\"padding: 30px; background: #f8f9fa; border: 1px solid #e9ecef;\">\n    <p style=\"font-size: 16px; color: #333;\">Xin chào Anh/Chị,</p>\n    <p style=\"color: #555;\">Anh/Chị vừa nhận được chỉ đạo từ CEO. Vui lòng xác nhận và bổ sung thông tin:</p>\n    <div style=\"background: #fff; border-left: 4px solid #667eea; padding: 20px; margin: 20px 0;\">\n      <h3 style=\"color: #667eea; margin-top: 0;\">📌 {{ $json.tieuDe }}</h3>\n      <table style=\"width: 100%;\">\n        <tr><td style=\"color: #888; padding: 8px 0;\">Nguồn:</td><td>{{ $json.nguonGiaoViec }}</td></tr>\n        {{ $json.t2NhiemVu ? '<tr><td style=\"color: #888; padding: 8px 0;\">Nhiệm vụ:</td><td>' + $json.t2NhiemVu + '</td></tr>' : '' }}\n        {{ $json.t3ChiTieu ? '<tr><td style=\"color: #888; padding: 8px 0;\">Chỉ tiêu:</td><td>' + $json.t3ChiTieu + '</td></tr>' : '' }}\n        {{ $json.t4ThoiHan ? '<tr><td style=\"color: #888; padding: 8px 0;\">Thời hạn:</td><td style=\"color: #e74c3c; font-weight: bold;\">' + $json.t4ThoiHan + '</td></tr>' : '' }}\n      </table>\n    </div>\n    {{ !$json.has4T ? '<div style=\"background: #fff3cd; border-left: 4px solid #ffc107; padding: 15px; margin: 20px 0;\"><p style=\"margin: 0; color: #856404;\"><strong>⚠️</strong> Chỉ đạo này đang thiếu thông tin 4T.</p></div>' : '' }}\n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"{{ $json.prefillUrl }}\" style=\"background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%); color: #fff; padding: 16px 45px; text-decoration: none; border-radius: 25px; font-weight: bold;\">✏️ Xác nhận & Bổ sung</a>\n    </div>\n    <p style=\"font-size: 14px; color: #888; text-align: center;\">Xem chi tiết: <a href=\"{{ $json.clarificationUrl }}\" style=\"color: #667eea;\">Notion</a></p>\n  </div>\n  <div style=\"background: #343a40; padding: 20px; text-align: center; border-radius: 0 0 8px 8px;\">\n    <p style=\"color: #adb5bd; margin: 0; font-size: 13px;\">Hệ thống theo dõi Chỉ đạo CEO</p>\n  </div>\n</div>",
        "options": {
          "ccList": "={{ $json.ccEmail }}",
          "bccList": "={{ $json.bccEmail }}"
        }
      },
      "id": "send-email-hr-001",
      "name": "Send Email (HR Path)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1860,
        200
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "QMCQ41m8F8hiBKal",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.sendTo }}",
        "subject": "=📋 Xác nhận Chỉ đạo: {{ $json.tieuDe.substring(0, 50) }}{{ $json.tieuDe.length > 50 ? '...' : '' }}",
        "message": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 650px; margin: 0 auto;\">\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; text-align: center; border-radius: 8px 8px 0 0;\">\n    <h1 style=\"color: #fff; margin: 0; font-size: 22px;\">📋 Yêu cầu Xác nhận Chỉ đạo</h1>\n    <p style=\"color: rgba(255,255,255,0.85); margin: 10px 0 0 0;\">Văn phòng Tổng Giám đốc - EsuhaiGroup</p>\n  </div>\n  <div style=\"padding: 30px; background: #f8f9fa; border: 1px solid #e9ecef;\">\n    <p style=\"font-size: 16px; color: #333;\">Xin chào Anh/Chị,</p>\n    <p style=\"color: #555;\">Anh/Chị vừa nhận được chỉ đạo từ CEO. Vui lòng xác nhận và bổ sung thông tin:</p>\n    <div style=\"background: #fff; border-left: 4px solid #667eea; padding: 20px; margin: 20px 0;\">\n      <h3 style=\"color: #667eea; margin-top: 0;\">📌 {{ $json.tieuDe }}</h3>\n      <table style=\"width: 100%;\">\n        <tr><td style=\"color: #888; padding: 8px 0;\">Nguồn:</td><td>{{ $json.nguonGiaoViec }}</td></tr>\n        {{ $json.t2NhiemVu ? '<tr><td style=\"color: #888; padding: 8px 0;\">Nhiệm vụ:</td><td>' + $json.t2NhiemVu + '</td></tr>' : '' }}\n        {{ $json.t3ChiTieu ? '<tr><td style=\"color: #888; padding: 8px 0;\">Chỉ tiêu:</td><td>' + $json.t3ChiTieu + '</td></tr>' : '' }}\n        {{ $json.t4ThoiHan ? '<tr><td style=\"color: #888; padding: 8px 0;\">Thời hạn:</td><td style=\"color: #e74c3c; font-weight: bold;\">' + $json.t4ThoiHan + '</td></tr>' : '' }}\n      </table>\n    </div>\n    {{ !$json.has4T ? '<div style=\"background: #fff3cd; border-left: 4px solid #ffc107; padding: 15px; margin: 20px 0;\"><p style=\"margin: 0; color: #856404;\"><strong>⚠️</strong> Chỉ đạo này đang thiếu thông tin 4T.</p></div>' : '' }}\n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"{{ $json.prefillUrl }}\" style=\"background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%); color: #fff; padding: 16px 45px; text-decoration: none; border-radius: 25px; font-weight: bold;\">✏️ Xác nhận & Bổ sung</a>\n    </div>\n    <p style=\"font-size: 14px; color: #888; text-align: center;\">Xem chi tiết: <a href=\"{{ $json.clarificationUrl }}\" style=\"color: #667eea;\">Notion</a></p>\n  </div>\n  <div style=\"background: #343a40; padding: 20px; text-align: center; border-radius: 0 0 8px 8px;\">\n    <p style=\"color: #adb5bd; margin: 0; font-size: 13px;\">Hệ thống theo dõi Chỉ đạo CEO</p>\n  </div>\n</div>",
        "options": {
          "ccList": "={{ $json.ccEmail }}",
          "bccList": "={{ $json.bccEmail }}"
        }
      },
      "id": "send-email-direct-001",
      "name": "Send Email (Direct/Fallback)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1400,
        400
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "QMCQ41m8F8hiBKal",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Resolve HR Email').item.json.clarificationId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Tình trạng|select",
              "selectValue": "📧 Đã gửi email"
            }
          ]
        },
        "options": {}
      },
      "id": "update-hr-001",
      "name": "Update Status (HR Path)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2090,
        200
      ],
      "credentials": {
        "notionApi": {
          "id": "sDlz7N367IegDSAc",
          "name": "Notion ESUHAI"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Process Clarification').item.json.clarificationId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Tình trạng|select",
              "selectValue": "📧 Đã gửi email"
            }
          ]
        },
        "options": {}
      },
      "id": "update-direct-001",
      "name": "Update Status (Direct/Fallback)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1630,
        400
      ],
      "credentials": {
        "notionApi": {
          "id": "sDlz7N367IegDSAc",
          "name": "Notion ESUHAI"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule: Mỗi giờ": {
      "main": [
        [
          {
            "node": "Query: Clarifications cần gửi email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query: Clarifications cần gửi email": {
      "main": [
        [
          {
            "node": "Split Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Results": {
      "main": [
        [
          {
            "node": "Process Clarification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Clarification": {
      "main": [
        [
          {
            "node": "IF: Need HR Lookup?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Need HR Lookup?": {
      "main": [
        [
          {
            "node": "Get HR Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email (Direct/Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get HR Page": {
      "main": [
        [
          {
            "node": "Resolve HR Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve HR Email": {
      "main": [
        [
          {
            "node": "Send Email (HR Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (HR Path)": {
      "main": [
        [
          {
            "node": "Update Status (HR Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (Direct/Fallback)": {
      "main": [
        [
          {
            "node": "Update Status (Direct/Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "713be899eac04f9192785798e717fb5898ccbfb1aeeb4016ea13e34e3e92a901"
  },
  "id": "",
  "tags": []
}
