archive/automation_n8n/WF1_v3_FIXED.json
{
  "name": "CEO Directive - WF1 - Gửi yêu cầu Xác nhận (v3 FIXED)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "9abf8678-830d-47d6-9e4f-189a41b28493",
          "mode": "list",
          "cachedResultName": "Chỉ đạo Cần Làm Rõ",
          "cachedResultUrl": "https://www.notion.so/9abf8678830d47d69e4f189a41b28493"
        },
        "simple": false
      },
      "id": "e9e250da-9aa2-4b5a-8686-7839595dc4fe",
      "name": "Notion Trigger - New Clarification",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "credentials": {
        "notionApi": {
          "id": "sDlz7N367IegDSAc",
          "name": "Notion ESUHAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// WF1 v3 - EXTRACT CLARIFICATION DATA\n// With Email Fallback Chain + Trigger Condition\n// Updated: 28/12/2025\n// ========================================\n\nconst clarification = $input.first().json;\nconst properties = clarification.properties || {};\n\n// ========== HELPER: Get field by type + keywords ==========\nconst getFieldByType = (type, keywords) => {\n  for (const [fieldName, fieldData] of Object.entries(properties)) {\n    if (fieldData.type !== type) continue;\n    const nameLC = fieldName.toLowerCase();\n    if (keywords.some(kw => nameLC.includes(kw.toLowerCase()))) {\n      if (type === 'title') return { value: fieldData.title?.[0]?.plain_text || '', fieldName };\n      if (type === 'rich_text') return { value: fieldData.rich_text?.[0]?.plain_text || '', fieldName };\n      if (type === 'select') return { value: fieldData.select?.name || '', fieldName };\n      if (type === 'date') return { value: fieldData.date?.start || '', fieldName };\n      if (type === 'email') return { value: fieldData.email || '', fieldName };\n    }\n  }\n  return { value: '', fieldName: null };\n};\n\n// ========== EXTRACT CORE FIELDS ==========\n// Title (required)\nlet tieuDe = '';\nfor (const [name, data] of Object.entries(properties)) {\n  if (data.type === 'title') {\n    tieuDe = data.title?.[0]?.plain_text || '';\n    break;\n  }\n}\n\n// Other fields\nconst noiDungGoc = getFieldByType('rich_text', ['nội dung', 'gốc']);\nconst t2NhiemVu = getFieldByType('rich_text', ['nhiệm vụ', 't2']);\nconst t3ChiTieu = getFieldByType('rich_text', ['chỉ tiêu', 't3']);\nconst t4ThoiHan = getFieldByType('date', ['thời hạn', 't4', 'deadline']);\nconst uuTien = getFieldByType('select', ['ưu tiên', 'priority']);\nconst nguonGiaoViec = getFieldByType('select', ['nguồn']);\nconst tinhTrang = getFieldByType('select', ['tình trạng', 'status']);\n\n// ========== EMAIL FALLBACK CHAIN ==========\n// Priority 1: Direct email field \"📧 Email đầu mối\"\nconst emailDauMoi = getFieldByType('email', ['email', 'đầu mối']);\n\n// Priority 2: HR Relation (will be resolved in next node)\nlet hrRelationId = null;\nfor (const [fieldName, fieldData] of Object.entries(properties)) {\n  if (fieldData.type === 'relation' && fieldData.relation?.length > 0) {\n    const nameLC = fieldName.toLowerCase();\n    if (nameLC.includes('hr') || nameLC.includes('người nhận')) {\n      hrRelationId = fieldData.relation[0].id;\n      break;\n    }\n  }\n}\n\n// Priority 3: Fallback emails\nconst FALLBACK_PRIMARY = 'vynnl@esuhai.com';\nconst FALLBACK_CC = 'hoangkha@esuhai.com';\n\n// Determine email source\nlet emailSource = 'fallback';\nlet primaryEmail = '';\n\nif (emailDauMoi.value && emailDauMoi.value.includes('@')) {\n  primaryEmail = emailDauMoi.value;\n  emailSource = 'direct_field';\n} else if (hrRelationId) {\n  emailSource = 'hr_lookup';\n}\n\n// ========== CHECK TRIGGER CONDITION ==========\n// Only trigger if status is \"🆕 Mới tạo\"\nconst shouldTrigger = tinhTrang.value === '🆕 Mới tạo';\n\n// ========== LOG FOR DEBUGGING ==========\nconsole.log('=== WF1 EXTRACT v3 ===');\nconsole.log('Clarification ID:', clarification.id);\nconsole.log('Tiêu đề:', tieuDe);\nconsole.log('Tình trạng:', tinhTrang.value);\nconsole.log('Should Trigger:', shouldTrigger);\nconsole.log('Email Source:', emailSource);\nconsole.log('Primary Email:', primaryEmail);\nconsole.log('HR Relation ID:', hrRelationId);\n\n// ========== OUTPUT ==========\nreturn {\n  // Clarification info\n  clarificationId: clarification.id,\n  clarificationUrl: clarification.url || 'https://www.notion.so/' + clarification.id.replace(/-/g, ''),\n  \n  // Trigger condition\n  shouldTrigger,\n  tinhTrang: tinhTrang.value,\n  \n  // Content fields\n  tieuDe,\n  noiDungGoc: noiDungGoc.value,\n  t2NhiemVu: t2NhiemVu.value,\n  t3ChiTieu: t3ChiTieu.value,\n  t4ThoiHan: t4ThoiHan.value,\n  uuTien: uuTien.value,\n  nguonGiaoViec: nguonGiaoViec.value || 'CEO',\n  \n  // Email chain\n  emailSource,\n  primaryEmail,\n  hrRelationId,\n  fallbackPrimary: FALLBACK_PRIMARY,\n  fallbackCC: FALLBACK_CC,\n  \n  // 4T Check\n  has4T: Boolean(tieuDe && t2NhiemVu.value && t3ChiTieu.value && t4ThoiHan.value)\n};"
      },
      "id": "afdfaff6-bd87-4636-a01a-e1bc740e6d40",
      "name": "Extract Clarification Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "trigger_check",
              "leftValue": "={{ $json.shouldTrigger }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-moi-tao-001",
      "name": "Filter: Mới tạo",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        928,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "direct_email_check",
              "leftValue": "={{ $json.emailSource }}",
              "rightValue": "direct_field",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "switch-email-source-001",
      "name": "Switch: Email Source",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1152,
        0
      ],
      "onFalse": "output2"
    },
    {
      "parameters": {
        "url": "=https://api.notion.com/v1/pages/{{ $json.hrRelationId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "d35509e2-b5fa-47c5-8a2d-7b37e44f327f",
      "name": "Get HR Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        160
      ],
      "credentials": {
        "notionApi": {
          "id": "sDlz7N367IegDSAc",
          "name": "Notion ESUHAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// WF1 v3 - BUILD PREFILL URL\n// BRANCH: Direct Email (no HR lookup needed)\n// ========================================\n\nconst data = $input.first().json;\n\n// Email already available from direct field\nconst hrEmail = data.primaryEmail;\nconst hoVaTen = 'Anh/Chị'; // Unknown without HR lookup\n\nconsole.log('=== DIRECT EMAIL BRANCH ===');\nconsole.log('Using direct email:', hrEmail);\n\n// ========== BUILD PREFILL URL ==========\nconst FORM_URL = 'https://docs.google.com/forms/d/e/1FAIpQLSdzRTOucM4qWwlxyx3yEelDorBv2ADnL8jFUUW7-xpqdidvBw/viewform?usp=pp_url';\n\nconst ENTRY_IDS = {\n  'clarificationId': 'entry.1684171280',\n  'tieuDe': 'entry.1878008034',\n  'noiDungGoc': 'entry.1953342780',\n  't2NhiemVu': 'entry.1839616630',\n  't3ChiTieu': 'entry.649583359',\n  't4ThoiHan': 'entry.1319518938',\n  'uuTien': 'entry.1910876946',\n  'nguonGiaoViec': 'entry.1661283634'\n};\n\nconst params = {\n  [ENTRY_IDS['clarificationId']]: data.clarificationId,\n  [ENTRY_IDS['tieuDe']]: data.tieuDe,\n  [ENTRY_IDS['noiDungGoc']]: data.noiDungGoc,\n  [ENTRY_IDS['t2NhiemVu']]: data.t2NhiemVu,\n  [ENTRY_IDS['t3ChiTieu']]: data.t3ChiTieu,\n  [ENTRY_IDS['t4ThoiHan']]: data.t4ThoiHan,\n  [ENTRY_IDS['uuTien']]: data.uuTien,\n  [ENTRY_IDS['nguonGiaoViec']]: data.nguonGiaoViec\n};\n\nconst queryString = Object.keys(params)\n  .map(key => key + '=' + encodeURIComponent(params[key] || ''))\n  .join('&');\n\nconst prefillUrl = FORM_URL + '&' + queryString;\n\n// Status message\nconst statusMessage = data.has4T \n  ? '✅ Chỉ đạo đã có đủ 4T. Vui lòng XÁC NHẬN và CAM KẾT thực hiện.'\n  : '⚠️ Chỉ đạo còn thiếu thông tin. Vui lòng BỔ SUNG các trường còn trống.';\n\nreturn {\n  ...data,\n  hrEmail,\n  hoVaTen,\n  ccEmail: '', // No CC needed for direct email\n  prefillUrl,\n  statusMessage,\n  emailResolutionLog: ['✅ Used direct email field: ' + hrEmail]\n};"
      },
      "id": "build-url-direct-001",
      "name": "Build URL (Direct Email)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// WF1 v3 - BUILD PREFILL URL\n// BRANCH: HR Lookup OR Fallback\n// ========================================\n\nconst clarData = $('Extract Clarification Data').first().json;\nlet hrPage = null;\n\n// Try to get HR data if available\ntry {\n  hrPage = $('Get HR Page').first().json;\n} catch (e) {\n  console.log('HR Page not available:', e.message);\n}\n\n// ========== RESOLVE EMAIL ==========\nlet hrEmail = '';\nlet hoVaTen = 'Anh/Chị';\nlet ccEmail = '';\nlet emailResolutionLog = [];\n\n// Try HR lookup first\nif (hrPage && hrPage.properties) {\n  const hrProperties = hrPage.properties;\n  \n  for (const [fieldName, fieldData] of Object.entries(hrProperties)) {\n    // Get Email\n    if (fieldData.type === 'email' && fieldData.email) {\n      hrEmail = fieldData.email;\n      emailResolutionLog.push('✅ Used HR email: ' + hrEmail);\n    }\n    // Get Name\n    if (fieldData.type === 'title') {\n      hoVaTen = fieldData.title?.[0]?.plain_text || 'Anh/Chị';\n    }\n  }\n}\n\n// Fallback if no HR email\nif (!hrEmail) {\n  hrEmail = clarData.fallbackPrimary; // vynnl@esuhai.com\n  ccEmail = clarData.fallbackCC; // hoangkha@esuhai.com\n  emailResolutionLog.push('⚠️ HR lookup failed or empty');\n  emailResolutionLog.push('⚠️ Using fallback: ' + hrEmail);\n  emailResolutionLog.push('⚠️ CC added: ' + ccEmail);\n}\n\nconsole.log('=== HR/FALLBACK BRANCH ===');\nemailResolutionLog.forEach(log => console.log(log));\n\n// ========== BUILD PREFILL URL ==========\nconst FORM_URL = 'https://docs.google.com/forms/d/e/1FAIpQLSdzRTOucM4qWwlxyx3yEelDorBv2ADnL8jFUUW7-xpqdidvBw/viewform?usp=pp_url';\n\nconst ENTRY_IDS = {\n  'clarificationId': 'entry.1684171280',\n  'tieuDe': 'entry.1878008034',\n  'noiDungGoc': 'entry.1953342780',\n  't2NhiemVu': 'entry.1839616630',\n  't3ChiTieu': 'entry.649583359',\n  't4ThoiHan': 'entry.1319518938',\n  'uuTien': 'entry.1910876946',\n  'nguonGiaoViec': 'entry.1661283634'\n};\n\nconst params = {\n  [ENTRY_IDS['clarificationId']]: clarData.clarificationId,\n  [ENTRY_IDS['tieuDe']]: clarData.tieuDe,\n  [ENTRY_IDS['noiDungGoc']]: clarData.noiDungGoc,\n  [ENTRY_IDS['t2NhiemVu']]: clarData.t2NhiemVu,\n  [ENTRY_IDS['t3ChiTieu']]: clarData.t3ChiTieu,\n  [ENTRY_IDS['t4ThoiHan']]: clarData.t4ThoiHan,\n  [ENTRY_IDS['uuTien']]: clarData.uuTien,\n  [ENTRY_IDS['nguonGiaoViec']]: clarData.nguonGiaoViec\n};\n\nconst queryString = Object.keys(params)\n  .map(key => key + '=' + encodeURIComponent(params[key] || ''))\n  .join('&');\n\nconst prefillUrl = FORM_URL + '&' + queryString;\n\n// Status message\nconst statusMessage = clarData.has4T \n  ? '✅ Chỉ đạo đã có đủ 4T. Vui lòng XÁC NHẬN và CAM KẾT thực hiện.'\n  : '⚠️ Chỉ đạo còn thiếu thông tin. Vui lòng BỔ SUNG các trường còn trống.';\n\nreturn {\n  ...clarData,\n  hrEmail,\n  hoVaTen,\n  ccEmail,\n  prefillUrl,\n  statusMessage,\n  emailResolutionLog\n};"
      },
      "id": "build-url-hr-fallback-001",
      "name": "Build URL (HR/Fallback)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        160
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "id": "merge-branches-001",
      "name": "Merge Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1824,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.hrEmail }}",
        "subject": "=[Xác nhận Chỉ đạo] {{ $json.tieuDe }}",
        "message": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 650px; margin: 0 auto; background: #ffffff;\">\n  \n  <!-- Header -->\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; text-align: center; border-radius: 8px 8px 0 0;\">\n    <h1 style=\"color: #ffffff; margin: 0; font-size: 24px;\">📋 Yêu cầu Xác nhận Chỉ đạo</h1>\n  </div>\n  \n  <!-- Body -->\n  <div style=\"padding: 30px; background: #f8f9fa; border: 1px solid #e9ecef;\">\n    \n    <p style=\"font-size: 16px; color: #333; margin-bottom: 20px;\">\n      Xin chào <strong style=\"color: #667eea;\">{{ $json.hoVaTen }}</strong>,\n    </p>\n    \n    <!-- Status Alert -->\n    <div style=\"background: {{ $json.has4T ? '#d4edda' : '#fff3cd' }}; border-left: 4px solid {{ $json.has4T ? '#28a745' : '#ffc107' }}; padding: 15px; margin-bottom: 20px; border-radius: 0 8px 8px 0;\">\n      <p style=\"margin: 0; color: {{ $json.has4T ? '#155724' : '#856404' }}; font-weight: bold;\">{{ $json.statusMessage }}</p>\n    </div>\n    \n    <p style=\"font-size: 15px; color: #555; line-height: 1.6;\">\n      Bạn được giao thực hiện chỉ đạo sau. Vui lòng đọc kỹ, bổ sung nếu thiếu, và <strong>XÁC NHẬN CAM KẾT</strong> thực hiện.\n    </p>\n    \n    <!-- Directive Content Box -->\n    <div style=\"background: #ffffff; border: 2px solid #667eea; padding: 20px; margin: 20px 0; border-radius: 8px;\">\n      <h3 style=\"color: #667eea; margin-top: 0; border-bottom: 1px solid #eee; padding-bottom: 10px;\">📌 {{ $json.tieuDe }}</h3>\n      \n      <div style=\"margin-bottom: 15px;\">\n        <p style=\"color: #888; margin: 0 0 5px 0; font-size: 12px;\">NỘI DUNG CHỈ ĐẠO:</p>\n        <p style=\"color: #333; margin: 0; background: #f8f9fa; padding: 10px; border-radius: 4px;\">{{ $json.noiDungGoc || '(Chưa có)' }}</p>\n      </div>\n      \n      <table style=\"width: 100%; border-collapse: collapse; margin-top: 15px;\">\n        <tr style=\"border-bottom: 1px solid #eee;\">\n          <td style=\"padding: 10px 0; color: #888; width: 140px;\">T2 - Nhiệm vụ:</td>\n          <td style=\"padding: 10px 0; color: {{ $json.t2NhiemVu ? '#333' : '#dc3545' }}; font-weight: {{ $json.t2NhiemVu ? 'normal' : 'bold' }};\">{{ $json.t2NhiemVu || '⚠️ CẦN BỔ SUNG' }}</td>\n        </tr>\n        <tr style=\"border-bottom: 1px solid #eee;\">\n          <td style=\"padding: 10px 0; color: #888;\">T3 - Chỉ tiêu:</td>\n          <td style=\"padding: 10px 0; color: {{ $json.t3ChiTieu ? '#333' : '#dc3545' }}; font-weight: {{ $json.t3ChiTieu ? 'normal' : 'bold' }};\">{{ $json.t3ChiTieu || '⚠️ CẦN BỔ SUNG' }}</td>\n        </tr>\n        <tr style=\"border-bottom: 1px solid #eee;\">\n          <td style=\"padding: 10px 0; color: #888;\">T4 - Thời hạn:</td>\n          <td style=\"padding: 10px 0; color: {{ $json.t4ThoiHan ? '#e74c3c' : '#dc3545' }}; font-weight: bold;\">{{ $json.t4ThoiHan || '⚠️ CẦN BỔ SUNG' }}</td>\n        </tr>\n        <tr>\n          <td style=\"padding: 10px 0; color: #888;\">Ưu tiên:</td>\n          <td style=\"padding: 10px 0;\"><span style=\"background: #ffeaa7; padding: 3px 10px; border-radius: 10px; font-size: 13px;\">{{ $json.uuTien || 'Chưa xác định' }}</span></td>\n        </tr>\n      </table>\n    </div>\n    \n    <!-- Important Note -->\n    <div style=\"background: #e7f3ff; border-left: 4px solid #2196F3; padding: 15px; margin: 20px 0; border-radius: 0 8px 8px 0;\">\n      <p style=\"margin: 0; color: #1565c0; font-size: 14px;\">\n        <strong>⚠️ Lưu ý quan trọng:</strong><br>\n        • Đọc kỹ toàn bộ nội dung chỉ đạo<br>\n        • Bổ sung/sửa đổi nếu cần thiết<br>\n        • Tick xác nhận đã đọc và cam kết thực hiện<br>\n        • Mọi thay đổi sẽ được ghi nhận trong hệ thống\n      </p>\n    </div>\n    \n    <!-- CTA Button -->\n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"{{ $json.prefillUrl }}\" style=\"display: inline-block; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: #ffffff; padding: 16px 50px; text-decoration: none; border-radius: 25px; font-weight: bold; font-size: 16px; box-shadow: 0 4px 15px rgba(102, 126, 234, 0.4);\">\n        👉 XÁC NHẬN VÀ CAM KẾT\n      </a>\n    </div>\n    \n    <p style=\"text-align: center; margin-top: 20px;\">\n      <a href=\"{{ $json.clarificationUrl }}\" style=\"color: #667eea; text-decoration: none; font-size: 14px;\">📎 Xem Chỉ đạo trong Notion</a>\n    </p>\n    \n  </div>\n  \n  <!-- Footer -->\n  <div style=\"background: #343a40; padding: 20px; text-align: center; border-radius: 0 0 8px 8px;\">\n    <p style=\"color: #adb5bd; margin: 0; font-size: 13px;\">Hệ thống theo dõi Chỉ đạo CEO - EsuhaiGroup</p>\n    <p style=\"color: #6c757d; margin: 8px 0 0 0; font-size: 11px;\">Email tự động từ n8n | Nguồn: {{ $json.nguonGiaoViec }}</p>\n  </div>\n  \n</div>",
        "options": {
          "ccList": "={{ $json.ccEmail }}",
          "bccList": "hoangkha@esuhai.com"
        }
      },
      "id": "eb4c63ad-0f0a-41d6-becd-84664f27d356",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2048,
        0
      ],
      "webhookId": "f5fdbbe3-ff88-4ce9-b55e-4de4d0526066",
      "credentials": {
        "gmailOAuth2": {
          "id": "QMCQ41m8F8hiBKal",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.clarificationId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Tình trạng\": {\n      \"select\": {\n        \"name\": \"📧 Đã gửi email\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "id": "4959fbed-11f5-4a98-8ccb-fbd556ab0728",
      "name": "Update Clarification Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        0
      ],
      "credentials": {
        "notionApi": {
          "id": "sDlz7N367IegDSAc",
          "name": "Notion ESUHAI"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Notion Trigger - New Clarification": {
      "main": [
        [
          {
            "node": "Extract Clarification Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Clarification Data": {
      "main": [
        [
          {
            "node": "Filter: Mới tạo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Mới tạo": {
      "main": [
        [
          {
            "node": "Switch: Email Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Email Source": {
      "main": [
        [
          {
            "node": "Build URL (Direct Email)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get HR Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get HR Page": {
      "main": [
        [
          {
            "node": "Build URL (HR/Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build URL (Direct Email)": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build URL (HR/Fallback)": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Branches": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Update Clarification Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "713be899eac04f9192785798e717fb5898ccbfb1aeeb4016ea13e34e3e92a901"
  },
  "id": "",
  "tags": []
}
