archive/automation_n8n/WF1_v10_RATE_LIMIT.json
{
  "name": "CEO Directive - WF1 - Gửi yêu cầu Xác nhận (v10 RATE LIMIT)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "⏰ Schedule: Mỗi 4 giờ",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/9abf8678-830d-47d6-9e4f-189a41b28493/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"or\": [\n      {\n        \"property\": \"Tình trạng\",\n        \"select\": {\n          \"equals\": \"🆕 Mới tạo\"\n        }\n      },\n      {\n        \"property\": \"Tình trạng\",\n        \"select\": {\n          \"equals\": \"📧 Đã gửi email\"\n        }\n      }\n    ]\n  },\n  \"sorts\": [\n    {\n      \"property\": \"Ngày tạo\",\n      \"direction\": \"ascending\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "query-clarifications",
      "name": "📋 Query Clarifications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "credentials": {
        "notionApi": {
          "id": "notion-credentials-id",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// WF1 v10 - EXTRACT & RATE LIMIT\n// Max 2 emails per clarification per day\n// ========================================\n\nconst input = $input.first().json;\nconst results = input.results || [];\n\nconsole.log('[WF1 v10] ==========================================');\nconsole.log('[WF1 v10] Total clarifications found:', results.length);\n\nif (results.length === 0) {\n  console.log('[WF1 v10] No clarifications to process');\n  return { json: { hasItems: false, items: [], skipped: 0, toProcess: 0 } };\n}\n\nconst now = new Date();\nconst today = now.toISOString().split('T')[0];\nconst items = [];\nlet skippedCount = 0;\n\nfor (const page of results) {\n  const props = page.properties;\n  const id = page.id;\n  \n  // Extract basic info\n  const title = props['Tiêu đề']?.title?.[0]?.plain_text || 'Untitled';\n  const status = props['Tình trạng']?.select?.name || '';\n  const nguon = props['Nguồn']?.select?.name || 'CEO';\n  const noiDungGoc = props['Nội dung gốc']?.rich_text?.[0]?.plain_text || '';\n  const ngayNhan = props['Ngày nhận']?.date?.start || '';\n  \n  // Email info\n  const emailDauMoi = props['📧 Email đầu mối']?.email || '';\n  \n  // Rate limiting fields\n  const soLanGui = props['📧 Số lần gửi']?.number || 0;\n  const ngayGuiGanNhat = props['📅 Ngày gửi gần nhất']?.date?.start || '';\n  \n  // T1 from HR relation\n  const hrRelation = props['👤 Người nhận chỉ đạo']?.relation || [];\n  \n  console.log('[WF1 v10] Processing:', title.substring(0, 40));\n  console.log('  Status:', status);\n  console.log('  Số lần gửi:', soLanGui);\n  console.log('  Ngày gửi gần nhất:', ngayGuiGanNhat);\n  \n  // ==========================================\n  // RATE LIMIT CHECK\n  // ==========================================\n  \n  let shouldSkip = false;\n  let skipReason = '';\n  \n  // Check 1: Đã gửi >= 2 lần hôm nay?\n  if (ngayGuiGanNhat === today && soLanGui >= 2) {\n    shouldSkip = true;\n    skipReason = 'Đã gửi ' + soLanGui + ' lần hôm nay (max 2)';\n  }\n  \n  // Check 2: Đã gửi hôm nay và là lần thứ 2?\n  // Nếu ngày gửi gần nhất là hôm nay và đã gửi 1 lần, cho phép gửi thêm 1 lần nữa\n  // Nếu ngày gửi khác hôm nay, reset counter\n  \n  if (shouldSkip) {\n    console.log('  ⏭️ SKIPPED:', skipReason);\n    skippedCount++;\n    continue;\n  }\n  \n  // ==========================================\n  // PREPARE ITEM FOR PROCESSING\n  // ==========================================\n  \n  items.push({\n    clarificationId: id,\n    title,\n    status,\n    nguon,\n    noiDungGoc,\n    ngayNhan,\n    emailDauMoi,\n    hrRelationIds: hrRelation.map(r => r.id),\n    \n    // Rate limit tracking\n    soLanGuiHienTai: soLanGui,\n    ngayGuiGanNhat,\n    soLanGuiMoi: ngayGuiGanNhat === today ? soLanGui + 1 : 1,\n    \n    // Computed\n    isNewToday: ngayGuiGanNhat !== today,\n    today\n  });\n  \n  console.log('  ✅ Added to process queue');\n}\n\nconsole.log('[WF1 v10] ==========================================');\nconsole.log('[WF1 v10] Summary:');\nconsole.log('  Total found:', results.length);\nconsole.log('  Skipped (rate limit):', skippedCount);\nconsole.log('  To process:', items.length);\n\nreturn {\n  json: {\n    hasItems: items.length > 0,\n    items,\n    skipped: skippedCount,\n    toProcess: items.length,\n    timestamp: now.toISOString()\n  }\n};"
      },
      "id": "extract-data",
      "name": "📊 Extract & Rate Limit Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [710, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-items",
              "leftValue": "={{ $json.hasItems }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-items",
      "name": "IF: Có items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-items",
      "name": "🔄 Loop Each Item",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1170, 200]
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// RESOLVE EMAIL - Dynamic lookup\n// ========================================\n\nconst item = $input.first().json;\n\nconsole.log('[WF1 v10] Resolving email for:', item.title?.substring(0, 40));\n\n// Priority: emailDauMoi > HR lookup > fallback\nlet recipientEmail = item.emailDauMoi || '';\nlet emailSource = 'direct';\n\nif (!recipientEmail && item.hrRelationIds?.length > 0) {\n  // Would need HR lookup here - for now use fallback\n  emailSource = 'hr_lookup_needed';\n}\n\nif (!recipientEmail) {\n  recipientEmail = 'vynnl@esuhai.com';\n  emailSource = 'fallback';\n}\n\nconsole.log('  Email:', recipientEmail, '(' + emailSource + ')');\n\n// Build prefill URL\nconst baseUrl = 'https://docs.google.com/forms/d/e/1FAIpQLSdzRTOucM4qWwlxyx3yEelDorBv2ADnL8jFUUW7-xpqdidvBw/viewform';\nconst params = new URLSearchParams();\n\n// Form entry IDs\nparams.append('entry.1684171280', item.clarificationId || '');\nparams.append('entry.1878008034', item.nguon || '');\nparams.append('entry.1953342780', item.ngayNhan || '');\nparams.append('entry.1839616630', item.noiDungGoc || '');\nparams.append('entry.649583359', item.title?.split(':')[0]?.trim() || '');\n\nconst prefillUrl = baseUrl + '?' + params.toString();\n\nreturn {\n  json: {\n    ...item,\n    recipientEmail,\n    emailSource,\n    prefillUrl,\n    ccEmail: 'hoangkha@esuhai.com'\n  }\n};"
      },
      "id": "resolve-email",
      "name": "📧 Resolve Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.recipientEmail }}",
        "subject": "=📋 [Cần xác nhận] {{ $json.title.substring(0, 50) }}",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 20px; text-align: center;\">\n    <h2 style=\"color: #fff; margin: 0;\">📋 Yêu cầu Xác nhận Chỉ đạo</h2>\n  </div>\n  <div style=\"padding: 20px; background: #f5f5f5;\">\n    <p>Chào bạn,</p>\n    <p>Bạn có một chỉ đạo cần xác nhận và bổ sung thông tin 4T:</p>\n    \n    <div style=\"background: #fff; padding: 15px; border-left: 4px solid #667eea; margin: 15px 0;\">\n      <h3 style=\"color: #667eea; margin-top: 0;\">{{ $json.title }}</h3>\n      <p><strong>Nguồn:</strong> {{ $json.nguon }}</p>\n      <p><strong>Ngày nhận:</strong> {{ $json.ngayNhan }}</p>\n      <p><strong>Nội dung:</strong> {{ $json.noiDungGoc.substring(0, 200) }}{{ $json.noiDungGoc.length > 200 ? '...' : '' }}</p>\n    </div>\n    \n    <div style=\"text-align: center; margin: 20px 0;\">\n      <a href=\"{{ $json.prefillUrl }}\" style=\"display: inline-block; background: #667eea; color: #fff; padding: 12px 30px; text-decoration: none; border-radius: 5px; font-weight: bold;\">✅ Xác nhận & Bổ sung 4T</a>\n    </div>\n    \n    <p style=\"color: #888; font-size: 12px;\">Lần gửi: {{ $json.soLanGuiMoi }}/2 hôm nay</p>\n  </div>\n</div>",
        "options": {
          "ccList": "={{ $json.ccEmail }}"
        }
      },
      "id": "send-email",
      "name": "📧 Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1630, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-credentials-id",
          "name": "Gmail"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.clarificationId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Tình trạng\": {\n      \"select\": {\n        \"name\": \"📧 Đã gửi email\"\n      }\n    },\n    \"📧 Số lần gửi\": {\n      \"number\": {{ $json.soLanGuiMoi }}\n    },\n    \"📅 Ngày gửi gần nhất\": {\n      \"date\": {\n        \"start\": \"{{ $json.today }}\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "id": "update-clarification",
      "name": "📝 Update Clarification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1860, 200],
      "credentials": {
        "notionApi": {
          "id": "notion-credentials-id",
          "name": "Notion API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"database_id\": \"53a48a4f-29ba-46d2-8e53-3f358d3c513c\"\n  },\n  \"properties\": {\n    \"Log\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"WF1: Email sent to {{ $json.recipientEmail.substring(0, 30) }}\"\n          }\n        }\n      ]\n    },\n    \"Workflow\": {\n      \"select\": {\n        \"name\": \"WF1 - Gửi xác nhận\"\n      }\n    },\n    \"Status\": {\n      \"select\": {\n        \"name\": \"✅ Success\"\n      }\n    },\n    \"Clarification\": {\n      \"relation\": [\n        {\n          \"id\": \"{{ $json.clarificationId }}\"\n        }\n      ]\n    },\n    \"Details\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": \"Lần gửi: {{ $json.soLanGuiMoi }}, Source: {{ $json.emailSource }}\"\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "id": "log-success",
      "name": "📊 Log Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2090, 200],
      "credentials": {
        "notionApi": {
          "id": "notion-credentials-id",
          "name": "Notion API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Back to loop\nreturn $input.all();"
      },
      "id": "back-to-loop",
      "name": "↩️ Back to Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2320, 200]
    },
    {
      "parameters": {
        "jsCode": "// No items to process\nconsole.log('[WF1 v10] No items to process - workflow complete');\nreturn { json: { status: 'complete', message: 'No items to process' } };"
      },
      "id": "no-items",
      "name": "✅ No Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1170, 400]
    }
  ],
  "connections": {
    "⏰ Schedule: Mỗi 4 giờ": {
      "main": [
        [
          {
            "node": "📋 Query Clarifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Query Clarifications": {
      "main": [
        [
          {
            "node": "📊 Extract & Rate Limit Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Extract & Rate Limit Check": {
      "main": [
        [
          {
            "node": "IF: Có items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Có items?": {
      "main": [
        [
          {
            "node": "🔄 Loop Each Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "✅ No Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Loop Each Item": {
      "main": [
        [
          {
            "node": "📧 Resolve Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Resolve Email": {
      "main": [
        [
          {
            "node": "📧 Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Send Email": {
      "main": [
        [
          {
            "node": "📝 Update Clarification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Update Clarification": {
      "main": [
        [
          {
            "node": "📊 Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Log Success": {
      "main": [
        [
          {
            "node": "↩️ Back to Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "↩️ Back to Loop": {
      "main": [
        [
          {
            "node": "🔄 Loop Each Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "esuhai-n8n-cloud"
  },
  "tags": []
}
