archive/automation_n8n/WF1_v9.1_FIXED.json
{
  "name": "CEO Directive - WF1: Gửi yêu cầu Xác nhận (v9.1 FIXED)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "⏰ Schedule: 5 phút",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 100]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf1-new-clarification",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "🔗 Webhook: New Clarification",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, -100],
      "webhookId": "wf1-new-clarification"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'WF1 triggered', timestamp: new Date().toISOString() } }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "📤 Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [220, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/9abf8678-830d-47d6-9e4f-189a41b28493/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"or\": [\n      {\n        \"property\": \"Tình trạng\",\n        \"select\": {\n          \"equals\": \"🆕 Mới tạo\"\n        }\n      },\n      {\n        \"property\": \"Tình trạng\",\n        \"select\": {\n          \"equals\": \"Chờ làm rõ\"\n        }\n      }\n    ]\n  },\n  \"page_size\": 100\n}",
        "options": {}
      },
      "id": "query-clarifications",
      "name": "📋 Query ALL Clarifications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "credentials": {
        "notionApi": {
          "id": "notion-credentials-id",
          "name": "Notion API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// WF1 v9.1 - Extract ALL items và filter theo email limit\n// Trả về ARRAY items cho loop processing\n\nconst results = $input.first().json.results || [];\nconst today = new Date().toISOString().split('T')[0];\n\nconsole.log(`[WF1 v9.1] Found ${results.length} clarifications`);\n\nconst outputItems = [];\n\nfor (const page of results) {\n  const props = page.properties;\n  \n  // Basic info\n  const id = page.id;\n  const tieuDe = props['Tiêu đề']?.title?.[0]?.plain_text || 'Không có tiêu đề';\n  \n  // Email limiting\n  const soLanGui = props['📧 Số lần gửi']?.number || 0;\n  const ngayGuiRaw = props['📅 Ngày gửi gần nhất']?.date?.start || null;\n  const ngayGuiGanNhat = ngayGuiRaw ? ngayGuiRaw.split('T')[0] : null;\n  \n  const isToday = ngayGuiGanNhat === today;\n  const canSend = !isToday || soLanGui < 2;\n  \n  if (!canSend) {\n    console.log(`[WF1 v9.1] SKIP: ${tieuDe} - Đã gửi ${soLanGui} lần hôm nay`);\n    continue;\n  }\n  \n  // Extract all properties\n  const nguon = props['Nguồn']?.select?.name || '';\n  const ngayNhan = props['Ngày nhận']?.date?.start || '';\n  const noiDungGoc = props['Nội dung gốc']?.rich_text?.[0]?.plain_text || '';\n  const t2NhiemVu = props['T2 - NHIỆM VỤ']?.rich_text?.[0]?.plain_text || '';\n  const t3ChiTieu = props['T3 - CHỈ TIÊU']?.rich_text?.[0]?.plain_text || '';\n  const t4ThoiHan = props['T4 - THỜI HẠN']?.date?.start || '';\n  const ghiChu = props['Ghi chú']?.rich_text?.[0]?.plain_text || '';\n  \n  // Email resolution\n  const emailDauMoi = props['📧 Email đầu mối']?.email || '';\n  const hrRelation = props['👤 Người nhận chỉ đạo (HR)']?.relation || [];\n  const hrId = hrRelation.length > 0 ? hrRelation[0].id : null;\n  \n  // Outcomes relation for T3\n  const outcomesRelation = props['Kết quả mong đợi']?.relation || [];\n  const outcomeId = outcomesRelation.length > 0 ? outcomesRelation[0].id : null;\n  \n  outputItems.push({\n    json: {\n      id,\n      tieuDe,\n      nguon,\n      ngayNhan,\n      noiDungGoc,\n      t2NhiemVu,\n      t3ChiTieu,\n      t4ThoiHan,\n      ghiChu,\n      emailDauMoi,\n      hrId,\n      outcomeId,\n      soLanGui,\n      newSoLanGui: isToday ? soLanGui + 1 : 1,\n      todayDate: today,\n      startTime: Date.now()\n    }\n  });\n}\n\nconsole.log(`[WF1 v9.1] Eligible items: ${outputItems.length}`);\n\n// Return array of items for loop processing\nif (outputItems.length === 0) {\n  return [{ json: { noItems: true, message: 'No eligible clarifications' } }];\n}\n\nreturn outputItems;"
      },
      "id": "extract-all-items",
      "name": "🔧 Extract ALL Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-items",
              "leftValue": "={{ $json.noItems }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-items",
      "name": "IF: Có items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// WF1 v9.1 - Fetch Outcome T3 if available (ALL IN ONE NODE)\n// Simplified: No more Merge nodes needed\n\nconst item = $input.first().json;\nlet t3Final = item.t3ChiTieu;\nlet t3Source = 'Clarification';\nlet outcomeName = '';\n\n// If has Outcome relation, we'll fetch it in next node\n// Just pass through with flag\nreturn {\n  json: {\n    ...item,\n    needsOutcomeFetch: !!item.outcomeId,\n    t3Final,\n    t3Source,\n    outcomeName\n  }\n};"
      },
      "id": "prepare-outcome-fetch",
      "name": "🔧 Prepare Outcome Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, -100],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-outcome",
              "leftValue": "={{ $json.needsOutcomeFetch }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-needs-outcome",
      "name": "IF: Cần fetch Outcome?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1320, -100],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.notion.com/v1/pages/{{ $json.outcomeId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-outcome",
      "name": "🎯 Fetch Outcome",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, -200],
      "credentials": {
        "notionApi": {
          "id": "notion-credentials-id",
          "name": "Notion API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Merge T3 from Outcome\nconst prevItem = $('IF: Cần fetch Outcome?').first().json;\nconst outcome = $input.first().json;\n\n// Get T3 from Outcome's \"Tiêu chí thành công\" field\nconst tieuChiThanhCong = outcome.properties?.['Tiêu chí thành công']?.rich_text?.[0]?.plain_text || '';\nconst outcomeName = outcome.properties?.['Kết quả mong đợi']?.title?.[0]?.plain_text || '';\n\n// Use Outcome's T3 if available, otherwise keep original\nconst t3Final = tieuChiThanhCong || prevItem.t3ChiTieu;\nconst t3Source = tieuChiThanhCong ? 'Outcome' : 'Clarification';\n\nconsole.log(`[WF1 v9.1] Outcome T3: ${tieuChiThanhCong || '(empty)'}, Final T3: ${t3Final || '(empty)'}`);\n\nreturn {\n  json: {\n    ...prevItem,\n    t3Final,\n    t3Source,\n    outcomeName\n  }\n};"
      },
      "id": "merge-outcome-t3",
      "name": "🔧 Merge T3 from Outcome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, -200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// No Outcome - pass through with original T3\nconst item = $input.first().json;\nconsole.log(`[WF1 v9.1] No Outcome for: ${item.tieuDe}`);\nreturn {\n  json: {\n    ...item,\n    t3Final: item.t3ChiTieu,\n    t3Source: 'Clarification (no Outcome)'\n  }\n};"
      },
      "id": "no-outcome-path",
      "name": "🔧 No Outcome Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// WF1 v9.1 - Resolve Email (ALL IN ONE - NO MERGE)\n// This handles both HR lookup and direct email\n\nconst item = $input.first().json;\nlet resolvedEmail = '';\nlet resolvedName = '';\nlet emailSource = '';\nlet needsHrFetch = false;\n\n// Priority 1: Direct email field\nif (item.emailDauMoi) {\n  resolvedEmail = item.emailDauMoi;\n  emailSource = 'Direct';\n} \n// Priority 2: Need HR lookup\nelse if (item.hrId) {\n  needsHrFetch = true;\n  emailSource = 'HR (pending)';\n}\n// Priority 3: Fallback\nelse {\n  resolvedEmail = 'vynnl@esuhai.com';\n  resolvedName = 'HR Vy';\n  emailSource = 'Fallback';\n}\n\nreturn {\n  json: {\n    ...item,\n    resolvedEmail,\n    resolvedName,\n    emailSource,\n    needsHrFetch\n  }\n};"
      },
      "id": "prepare-email-resolve",
      "name": "🔧 Prepare Email Resolution",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, -100],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-hr",
              "leftValue": "={{ $json.needsHrFetch }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-needs-hr",
      "name": "IF: Cần HR Lookup?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2200, -100],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.notion.com/v1/pages/{{ $json.hrId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-hr",
      "name": "👤 Fetch HR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, -200],
      "credentials": {
        "notionApi": {
          "id": "notion-credentials-id",
          "name": "Notion API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Resolve email from HR record\nconst prevItem = $('IF: Cần HR Lookup?').first().json;\nconst hr = $input.first().json;\n\nconst hrName = hr.properties?.['Họ và tên']?.title?.[0]?.plain_text || \n               hr.properties?.['Tên']?.title?.[0]?.plain_text || '';\nconst hrEmail = hr.properties?.['Email']?.email || \n                hr.properties?.['📧 Email']?.email || '';\n\nlet resolvedEmail, resolvedName, emailSource;\n\nif (hrEmail) {\n  resolvedEmail = hrEmail;\n  resolvedName = hrName;\n  emailSource = 'HR';\n} else {\n  // Fallback if HR has no email\n  resolvedEmail = 'vynnl@esuhai.com';\n  resolvedName = hrName || 'HR Vy';\n  emailSource = 'Fallback (HR no email)';\n}\n\nreturn {\n  json: {\n    ...prevItem,\n    resolvedEmail,\n    resolvedName,\n    emailSource\n  }\n};"
      },
      "id": "resolve-hr-email",
      "name": "🔧 Resolve HR Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, -200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Direct/Fallback email - no HR fetch needed\nconst item = $input.first().json;\nconsole.log(`[WF1 v9.1] Email resolved: ${item.resolvedEmail} (${item.emailSource})`);\nreturn { json: item };"
      },
      "id": "direct-email-path",
      "name": "🔧 Direct/Fallback Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// WF1 v9.1 - Build Prefill URL cho Form CŨ\nconst item = $input.first().json;\n\n// Entry IDs cho Form CŨ (verified)\nconst entryIds = {\n  maClarification: '1684171280',\n  nguonChiDao: '1878008034',\n  ngayNhanChiDao: '1953342780',\n  noiDungGoc: '1839616630',\n  dauMoiT1: '649583359',\n  t2NhiemVu: '1319518938',\n  t3ChiTieu: '1910876946',\n  t4ThoiHan: '1661283634',\n  ghiChu: '1985703119'\n};\n\nconst formId = '1FAIpQLSdzRTOucM4qWwlxyx3yEelDorBv2ADnL8jFUUW7-xpqdidvBw';\nconst baseUrl = `https://docs.google.com/forms/d/e/${formId}/viewform?usp=pp_url`;\n\n// Use t3Final (from Outcome if available)\nconst t3Value = item.t3Final || item.t3ChiTieu || '';\n\n// Build prefill params\nconst params = [\n  `entry.${entryIds.maClarification}=${encodeURIComponent(item.id || '')}`,\n  `entry.${entryIds.nguonChiDao}=${encodeURIComponent(item.nguon || '')}`,\n  `entry.${entryIds.ngayNhanChiDao}=${encodeURIComponent(item.ngayNhan || '')}`,\n  `entry.${entryIds.noiDungGoc}=${encodeURIComponent(item.noiDungGoc || '')}`,\n  `entry.${entryIds.dauMoiT1}=${encodeURIComponent(item.resolvedName || '')}`,\n  `entry.${entryIds.t2NhiemVu}=${encodeURIComponent(item.t2NhiemVu || '')}`,\n  `entry.${entryIds.t3ChiTieu}=${encodeURIComponent(t3Value)}`,\n  `entry.${entryIds.t4ThoiHan}=${encodeURIComponent(item.t4ThoiHan || '')}`,\n  `entry.${entryIds.ghiChu}=${encodeURIComponent(item.ghiChu || '')}`\n].join('&');\n\nconst prefillUrl = `${baseUrl}&${params}`;\n\n// Email content\nconst lanGui = item.newSoLanGui || 1;\nconst greeting = item.resolvedName ? `Chào ${item.resolvedName},` : 'Chào Anh/Chị,';\n\nconst emailSubject = `[Lần ${lanGui}] Yêu cầu xác nhận chỉ đạo: ${item.tieuDe}`;\nconst emailBody = `${greeting}\n\nBạn nhận được yêu cầu xác nhận chỉ đạo từ hệ thống CEO Directive.\n\n📋 Thông tin chỉ đạo:\n- Tiêu đề: ${item.tieuDe}\n- Nguồn: ${item.nguon || 'Chưa xác định'}\n- Ngày nhận: ${item.ngayNhan || 'Chưa xác định'}\n\n🔗 Vui lòng xác nhận tại đây:\n${prefillUrl}\n\n⚠️ Lưu ý:\n- Kiểm tra thông tin đã điền sẵn\n- Bổ sung T2, T3, T4 nếu còn thiếu\n- Tick xác nhận và gửi form\n\nTrân trọng,\nHệ thống CEO Directive - EsuhaiGroup`;\n\nreturn {\n  json: {\n    ...item,\n    prefillUrl,\n    emailSubject,\n    emailBody,\n    emailTo: item.resolvedEmail,\n    emailCc: 'hoangkha@esuhai.com'\n  }\n};"
      },
      "id": "build-prefill-url",
      "name": "🔧 Build Prefill URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, -100],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.emailTo }}",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "text",
        "message": "={{ $json.emailBody }}",
        "options": {
          "ccList": "={{ $json.emailCc }}"
        }
      },
      "id": "send-email",
      "name": "📧 Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [3080, -100],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-credentials-id",
          "name": "Gmail"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Tình trạng\": {\n      \"select\": {\n        \"name\": \"📧 Đã gửi email\"\n      }\n    },\n    \"📧 Số lần gửi\": {\n      \"number\": {{ $json.newSoLanGui }}\n    },\n    \"📅 Ngày gửi gần nhất\": {\n      \"date\": {\n        \"start\": \"{{ $json.todayDate }}\"\n      }\n    },\n    \"Form gửi\": {\n      \"url\": \"{{ $json.prefillUrl }}\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "update-clarification",
      "name": "📝 Update Clarification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3300, -100],
      "credentials": {
        "notionApi": {
          "id": "notion-credentials-id",
          "name": "Notion API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"database_id\": \"53a48a4f-29ba-46d2-8e53-3f358d3c513c\"\n  },\n  \"properties\": {\n    \"Log\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"Email sent: {{ $json.tieuDe.substring(0, 80) }}\"\n          }\n        }\n      ]\n    },\n    \"Workflow\": {\n      \"select\": {\n        \"name\": \"WF1 - Gửi email\"\n      }\n    },\n    \"Status\": {\n      \"select\": {\n        \"name\": \"✅ Success\"\n      }\n    },\n    \"Email To\": {\n      \"email\": \"{{ $json.emailTo }}\"\n    },\n    \"Clarification\": {\n      \"relation\": [\n        {\n          \"id\": \"{{ $json.id }}\"\n        }\n      ]\n    },\n    \"Details\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": \"Lần gửi: {{ $json.newSoLanGui }}, Email: {{ $json.emailSource }}, T3: {{ $json.t3Source }}\"\n          }\n        }\n      ]\n    },\n    \"Duration (ms)\": {\n      \"number\": {{ Date.now() - $json.startTime }}\n    }\n  }\n}",
        "options": {}
      },
      "id": "log-success",
      "name": "📊 Log Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3520, -100],
      "credentials": {
        "notionApi": {
          "id": "notion-credentials-id",
          "name": "Notion API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Log no items found\nconsole.log('[WF1 v9.1] No eligible items to process');\nreturn [{ json: { noItems: true, timestamp: new Date().toISOString() } }];"
      },
      "id": "log-no-items",
      "name": "📊 No Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 100],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "⏰ Schedule: 5 phút": {
      "main": [
        [
          {
            "node": "📋 Query ALL Clarifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Webhook: New Clarification": {
      "main": [
        [
          {
            "node": "📤 Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "📋 Query ALL Clarifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Query ALL Clarifications": {
      "main": [
        [
          {
            "node": "🔧 Extract ALL Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Extract ALL Items": {
      "main": [
        [
          {
            "node": "IF: Có items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Có items?": {
      "main": [
        [
          {
            "node": "🔧 Prepare Outcome Fetch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📊 No Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Prepare Outcome Fetch": {
      "main": [
        [
          {
            "node": "IF: Cần fetch Outcome?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Cần fetch Outcome?": {
      "main": [
        [
          {
            "node": "🎯 Fetch Outcome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔧 No Outcome Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Fetch Outcome": {
      "main": [
        [
          {
            "node": "🔧 Merge T3 from Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Merge T3 from Outcome": {
      "main": [
        [
          {
            "node": "🔧 Prepare Email Resolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 No Outcome Path": {
      "main": [
        [
          {
            "node": "🔧 Prepare Email Resolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Prepare Email Resolution": {
      "main": [
        [
          {
            "node": "IF: Cần HR Lookup?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Cần HR Lookup?": {
      "main": [
        [
          {
            "node": "👤 Fetch HR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔧 Direct/Fallback Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👤 Fetch HR": {
      "main": [
        [
          {
            "node": "🔧 Resolve HR Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Resolve HR Email": {
      "main": [
        [
          {
            "node": "🔧 Build Prefill URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Direct/Fallback Path": {
      "main": [
        [
          {
            "node": "🔧 Build Prefill URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Build Prefill URL": {
      "main": [
        [
          {
            "node": "📧 Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Send Email": {
      "main": [
        [
          {
            "node": "📝 Update Clarification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Update Clarification": {
      "main": [
        [
          {
            "node": "📊 Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "esuhai-n8n-cloud"
  },
  "tags": []
}
