archive/automation_n8n/WF2_v7_NODE_REF_FIX.json
{
  "name": "CEO Directive - WF2 - Xử lý Form Làm rõ (v7 NODE REF FIX)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf2-form-clarification",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "🔔 Webhook: Form Submit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "wf2-form-clarification"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'WF2 v7 processing', timestamp: new Date().toISOString() } }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "📤 Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [480, 200]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconsole.log('[WF2 v7] Processing form submission');\n\nlet data = null;\nlet parseSource = 'unknown';\n\nif (input.body?.clarificationId) {\n  data = input.body;\n  parseSource = 'input.body (FLAT)';\n} else if (input.body?.data?.clarificationId) {\n  data = input.body.data;\n  parseSource = 'input.body.data';\n} else if (input.body?.body?.data?.clarificationId) {\n  data = input.body.body.data;\n  parseSource = 'input.body.body.data';\n} else if (input.body?.body?.clarificationId) {\n  data = input.body.body;\n  parseSource = 'input.body.body';\n} else if (input.clarificationId) {\n  data = input;\n  parseSource = 'input (root)';\n}\n\nif (!data) {\n  return { json: { isValid: false, isTest: false, errors: ['Could not parse payload'], parseSource: 'FAILED' } };\n}\n\nconst isTest = data._isTest === true || (data.clarificationId && data.clarificationId.startsWith('TEST-'));\nconst clarificationId = data.clarificationId || '';\nconst nguonChiDao = data.nguonChiDao || '';\nconst ngayNhanChiDao = data.ngayNhanChiDao || '';\nconst noiDungGoc = data.noiDungGoc || '';\nconst dauMoiT1 = data.dauMoiT1 || '';\nconst t2NhiemVu = data.t2NhiemVu || '';\nconst t3ChiTieu = data.t3ChiTieu || '';\nconst t4ThoiHan = data.t4ThoiHan || '';\nconst ghiChu = data.ghiChu || '';\nconst xacNhan = data.xacNhan === true || data.xacNhan === 'true' || (typeof data.xacNhan === 'string' && data.xacNhan.includes('xác nhận'));\nconst respondentEmail = data.respondentEmail || 'anonymous';\n\nconst errors = [];\nif (!clarificationId || clarificationId.length < 10) errors.push('Thiếu Mã Clarification');\nif (!t2NhiemVu || t2NhiemVu.length < 3) errors.push('Thiếu T2');\nif (!t3ChiTieu || t3ChiTieu.length < 3) errors.push('Thiếu T3');\nif (!t4ThoiHan) errors.push('Thiếu T4');\nif (!xacNhan) errors.push('Chưa xác nhận');\n\nconst isValid = errors.length === 0;\nlet missingTags = [];\nif (!dauMoiT1) missingTags.push('Thiếu T1-TÊN');\nif (!t2NhiemVu) missingTags.push('Thiếu T2-NHIỆM VỤ');\nif (!t3ChiTieu) missingTags.push('Thiếu T3-CHỈ TIÊU');\nif (!t4ThoiHan) missingTags.push('Thiếu T4-THỜI HẠN');\nconst has4T = missingTags.length === 0;\n\nlet hrSearchKeyword = '';\nif (dauMoiT1) {\n  hrSearchKeyword = dauMoiT1.replace(/^(HR|Nhóm|Ms\\.?|Mr\\.?)\\s*/i, '').trim();\n  const words = hrSearchKeyword.split(/\\s+/);\n  if (words.length > 1) hrSearchKeyword = words[words.length - 1];\n}\n\nreturn { json: { isValid, isTest, errors, parseSource, clarificationId, nguonChiDao, ngayNhanChiDao, noiDungGoc, dauMoiT1, t2NhiemVu, t3ChiTieu, t4ThoiHan, ghiChu, xacNhan, respondentEmail, has4T, missingTags, hrSearchKeyword, today: new Date().toISOString().split('T')[0] } };"
      },
      "id": "validate-extract",
      "name": "📊 Validate & Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "is-test", "leftValue": "={{ $json.isTest }}", "rightValue": false, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-not-test",
      "name": "IF: Not Test?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [710, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "is-valid", "leftValue": "={{ $json.isValid }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valid",
      "name": "IF: Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [940, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "has-keyword", "leftValue": "={{ $json.hrSearchKeyword }}", "rightValue": "", "operator": { "type": "string", "operation": "notEquals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-hr-keyword",
      "name": "IF: Có T1?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1170, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/8d88b66f-94e3-4a1a-85a8-74f2422a2db7/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Notion-Version", "value": "2022-06-28" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"or\": [\n      { \"property\": \"Tên Gọi\", \"rich_text\": { \"contains\": \"{{ $json.hrSearchKeyword }}\" } },\n      { \"property\": \"Họ và Tên\", \"title\": { \"contains\": \"{{ $json.hrSearchKeyword }}\" } }\n    ]\n  },\n  \"page_size\": 1\n}",
        "options": {}
      },
      "id": "search-hr",
      "name": "🔍 Search HR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 0],
      "credentials": { "notionApi": { "id": "sDlz7N367IegDSAc", "name": "Notion ESUHAI" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get form data from IF: Có T1? node\nconst formData = $('IF: Có T1?').first().json;\nconst searchResult = $input.first().json;\n\nlet hrId = '', hrEmail = '', hrName = '', hrFound = false;\ntry {\n  const results = searchResult.results || [];\n  if (results.length > 0) {\n    const hr = results[0];\n    hrId = hr.id;\n    hrEmail = hr.properties?.['Email']?.email || '';\n    hrName = hr.properties?.['Họ và Tên']?.title?.[0]?.plain_text || '';\n    hrFound = true;\n    console.log('[WF2 v7] HR Found:', hrName, hrEmail);\n  }\n} catch (e) { console.log('HR error:', e.message); }\n\n// CRITICAL: Pass ALL form data forward\nreturn { json: { ...formData, hrId, hrEmail, hrName, hrFound } };"
      },
      "id": "extract-hr",
      "name": "📝 Extract HR Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1630, 0]
    },
    {
      "parameters": {
        "jsCode": "// No HR search - pass through ALL form data\nconst formData = $('IF: Có T1?').first().json;\nreturn { json: { ...formData, hrId: '', hrEmail: '', hrName: '', hrFound: false } };"
      },
      "id": "no-hr-search",
      "name": "📄 No HR Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "jsCode": "// Merge node - ensure we have all data regardless of HR path\nlet data;\ntry {\n  data = $('📝 Extract HR Info').first().json;\n  console.log('[WF2 v7] Data from HR path');\n} catch (e) {\n  try {\n    data = $('📄 No HR Search').first().json;\n    console.log('[WF2 v7] Data from No HR path');\n  } catch (e2) {\n    console.log('[WF2 v7] ERROR: Could not get data from either path');\n    return { json: { error: 'No data available' } };\n  }\n}\n\nconsole.log('[WF2 v7] Merged data:', JSON.stringify(data).substring(0, 200));\nreturn { json: data };"
      },
      "id": "merge-data",
      "name": "🔀 Merge Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1860, 100]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.clarificationId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Notion-Version", "value": "2022-06-28" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Tình trạng\": { \"select\": { \"name\": \"✅ Đã xác nhận\" } },\n    \"T1 - ĐẦU MỐI\": { \"rich_text\": [{ \"text\": { \"content\": \"{{ $json.dauMoiT1 }}\" } }] },\n    \"T2 - NHIỆM VỤ\": { \"rich_text\": [{ \"text\": { \"content\": \"{{ $json.t2NhiemVu }}\" } }] },\n    \"T3 - CHỈ TIÊU\": { \"rich_text\": [{ \"text\": { \"content\": \"{{ $json.t3ChiTieu }}\" } }] },\n    \"T4 - THỜI HẠN\": { \"date\": { \"start\": \"{{ $json.t4ThoiHan }}\" } },\n    \"📅 Ngày xác nhận\": { \"date\": { \"start\": \"{{ $json.today }}\" } },\n    \"Ghi chú\": { \"rich_text\": [{ \"text\": { \"content\": \"{{ $json.ghiChu }}\" } }] },\n    \"Thiếu yếu tố nào\": { \"multi_select\": {{ $json.has4T ? '[]' : JSON.stringify($json.missingTags.map(t => ({name: t}))) }} }{{ $json.hrFound ? ',\\n    \"👤 Người nhận chỉ đạo (HR)\": { \"relation\": [{ \"id\": \"' + $json.hrId + '\" }] },\\n    \"📧 Email đầu mối\": { \"email\": \"' + $json.hrEmail + '\" }' : '' }}\n  }\n}",
        "options": {}
      },
      "id": "update-clarification",
      "name": "📝 Update Clarification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2090, 100],
      "credentials": { "notionApi": { "id": "sDlz7N367IegDSAc", "name": "Notion ESUHAI" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// CRITICAL: Get form data from Merge node, not from Update Clarification output!\nconst formData = $('🔀 Merge Data').first().json;\nconst updateResult = $input.first().json;\n\nconsole.log('[WF2 v7] Preparing to create task');\nconsole.log('[WF2 v7] Form data available:', !!formData.t2NhiemVu);\nconsole.log('[WF2 v7] T2:', formData.t2NhiemVu?.substring(0, 30));\n\n// Pass form data forward for Create Task\nreturn { json: { ...formData, clarificationUpdated: !!updateResult.id } };"
      },
      "id": "prep-create-task",
      "name": "📋 Prep Create Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2320, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Notion-Version", "value": "2022-06-28" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": { \"database_id\": \"f2c9e34f-5506-483f-a124-44ae37d38a30\" },\n  \"properties\": {\n    \"Tiêu đề\": { \"title\": [{ \"text\": { \"content\": \"{{ $json.dauMoiT1 ? $json.dauMoiT1 + ': ' : '' }}{{ $json.t2NhiemVu.substring(0, 80) }}\" } }] },\n    \"Tình trạng\": { \"select\": { \"name\": \"Đúng kế hoạch\" } },\n    \"T2 - Nhiệm vụ\": { \"rich_text\": [{ \"text\": { \"content\": \"{{ $json.t2NhiemVu }}\" } }] },\n    \"T3 - Chỉ tiêu\": { \"rich_text\": [{ \"text\": { \"content\": \"{{ $json.t3ChiTieu }}\" } }] },\n    \"T4 - Thời hạn\": { \"date\": { \"start\": \"{{ $json.t4ThoiHan }}\" } },\n    \"Ghi chú & Trở ngại\": { \"rich_text\": [{ \"text\": { \"content\": \"Từ Clarification: {{ $json.clarificationId.substring(0, 8) }}...\" } }] },\n    \"Nguồn giao việc\": { \"rich_text\": [{ \"text\": { \"content\": \"{{ $json.nguonChiDao || 'CEO' }}\" } }] },\n    \"Chỉ đạo Cần Làm Rõ\": { \"relation\": [{ \"id\": \"{{ $json.clarificationId }}\" }] }{{ $json.hrFound ? ',\\n    \"👤 Người thực hiện (HR)\": { \"relation\": [{ \"id\": \"' + $json.hrId + '\" }] }' : '' }}\n  }\n}",
        "options": {}
      },
      "id": "create-task",
      "name": "✅ Create Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2550, 100],
      "credentials": { "notionApi": { "id": "sDlz7N367IegDSAc", "name": "Notion ESUHAI" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get form data from Prep node and task result\nconst formData = $('📋 Prep Create Task').first().json;\nconst createResult = $input.first().json;\n\nconst taskId = createResult.id || '';\nconst taskUrl = createResult.url || '';\nconst taskCreated = !!taskId;\n\nconsole.log('[WF2 v7] Task ID:', taskId);\nconsole.log('[WF2 v7] Task Created:', taskCreated);\n\nif (!taskCreated) {\n  console.log('[WF2 v7] Create Task response:', JSON.stringify(createResult).substring(0, 300));\n}\n\nreturn { json: { ...formData, taskId, taskUrl, taskCreated } };"
      },
      "id": "extract-task-id",
      "name": "📝 Extract Task ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2780, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "task-created", "leftValue": "={{ $json.taskCreated }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-task-created",
      "name": "IF: Task Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3010, 100]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.clarificationId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Notion-Version", "value": "2022-06-28" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Công việc (sau khi rõ)\": { \"relation\": [{ \"id\": \"{{ $json.taskId }}\" }] },\n    \"Tình trạng\": { \"select\": { \"name\": \"Đã tạo task\" } }\n  }\n}",
        "options": {}
      },
      "id": "link-task-to-clarification",
      "name": "🔗 Link Task → Clarification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3240, 0],
      "credentials": { "notionApi": { "id": "sDlz7N367IegDSAc", "name": "Notion ESUHAI" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Prepare email data\nconst data = $('IF: Task Created?').first().json;\nreturn { json: data };"
      },
      "id": "prep-email",
      "name": "📧 Prep Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3470, 0]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.hrEmail || 'hoangkha@esuhai.com' }}",
        "subject": "=✅ [WF2] Task đã tạo: {{ $json.dauMoiT1 ? $json.dauMoiT1 + ': ' : '' }}{{ $json.t2NhiemVu.substring(0, 40) }}",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px;\">\n  <div style=\"background: #28a745; padding: 20px; text-align: center;\">\n    <h2 style=\"color: #fff; margin: 0;\">✅ Task Đã Được Tạo</h2>\n  </div>\n  <div style=\"padding: 20px; background: #f5f5f5;\">\n    <p>Chỉ đạo đã được xác nhận và Task đã được tạo!</p>\n    <div style=\"background: #fff; padding: 15px; border-left: 4px solid #28a745;\">\n      <h3 style=\"color: #28a745;\">{{ $json.dauMoiT1 ? $json.dauMoiT1 + ': ' : '' }}{{ $json.t2NhiemVu.substring(0, 60) }}</h3>\n      <p><strong>T1:</strong> {{ $json.dauMoiT1 || 'Chưa xác định' }}</p>\n      <p><strong>T2:</strong> {{ $json.t2NhiemVu }}</p>\n      <p><strong>T3:</strong> {{ $json.t3ChiTieu }}</p>\n      <p><strong>T4:</strong> {{ $json.t4ThoiHan }}</p>\n      <p><a href=\"{{ $json.taskUrl }}\">Mở Task trong Notion</a></p>\n    </div>\n    <p style=\"color: #888; font-size: 12px;\">WF2 v7</p>\n  </div>\n</div>",
        "options": { "ccList": "hoangkha@esuhai.com" }
      },
      "id": "send-success-email",
      "name": "📧 Send Success Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [3700, 0],
      "credentials": { "gmailOAuth2": { "id": "QMCQ41m8F8hiBKal", "name": "Gmail account" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $('📧 Prep Email').first().json;\nconsole.log('[WF2 v7] SUCCESS - Task:', data.taskId);\nreturn { json: { status: 'success', taskId: data.taskId, hrFound: data.hrFound } };"
      },
      "id": "log-success",
      "name": "📊 Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3930, 0]
    },
    {
      "parameters": {
        "jsCode": "const data = $('IF: Task Created?').first().json;\nconsole.log('[WF2 v7] FAILED - Task not created');\nconsole.log('[WF2 v7] Data:', JSON.stringify(data).substring(0, 300));\nreturn { json: { status: 'failed', reason: 'task_not_created' } };"
      },
      "id": "log-task-failed",
      "name": "📊 Log Task Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3240, 200]
    },
    {
      "parameters": {
        "jsCode": "console.log('[WF2 v7] Validation FAILED');\nreturn { json: { status: 'validation_failed', errors: $json.errors } };"
      },
      "id": "log-error",
      "name": "📊 Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1170, 300]
    },
    {
      "parameters": { "jsCode": "console.log('[WF2 v7] Test - skipping');\nreturn { json: { status: 'skipped' } };" },
      "id": "skip-test",
      "name": "⏭️ Skip Test",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 400]
    }
  ],
  "connections": {
    "🔔 Webhook: Form Submit": { "main": [[{ "node": "📤 Response", "type": "main", "index": 0 }, { "node": "📊 Validate & Extract", "type": "main", "index": 0 }]] },
    "📊 Validate & Extract": { "main": [[{ "node": "IF: Not Test?", "type": "main", "index": 0 }]] },
    "IF: Not Test?": { "main": [[{ "node": "IF: Valid?", "type": "main", "index": 0 }], [{ "node": "⏭️ Skip Test", "type": "main", "index": 0 }]] },
    "IF: Valid?": { "main": [[{ "node": "IF: Có T1?", "type": "main", "index": 0 }], [{ "node": "📊 Log Error", "type": "main", "index": 0 }]] },
    "IF: Có T1?": { "main": [[{ "node": "🔍 Search HR", "type": "main", "index": 0 }], [{ "node": "📄 No HR Search", "type": "main", "index": 0 }]] },
    "🔍 Search HR": { "main": [[{ "node": "📝 Extract HR Info", "type": "main", "index": 0 }]] },
    "📝 Extract HR Info": { "main": [[{ "node": "🔀 Merge Data", "type": "main", "index": 0 }]] },
    "📄 No HR Search": { "main": [[{ "node": "🔀 Merge Data", "type": "main", "index": 0 }]] },
    "🔀 Merge Data": { "main": [[{ "node": "📝 Update Clarification", "type": "main", "index": 0 }]] },
    "📝 Update Clarification": { "main": [[{ "node": "📋 Prep Create Task", "type": "main", "index": 0 }]] },
    "📋 Prep Create Task": { "main": [[{ "node": "✅ Create Task", "type": "main", "index": 0 }]] },
    "✅ Create Task": { "main": [[{ "node": "📝 Extract Task ID", "type": "main", "index": 0 }]] },
    "📝 Extract Task ID": { "main": [[{ "node": "IF: Task Created?", "type": "main", "index": 0 }]] },
    "IF: Task Created?": { "main": [[{ "node": "🔗 Link Task → Clarification", "type": "main", "index": 0 }], [{ "node": "📊 Log Task Failed", "type": "main", "index": 0 }]] },
    "🔗 Link Task → Clarification": { "main": [[{ "node": "📧 Prep Email", "type": "main", "index": 0 }]] },
    "📧 Prep Email": { "main": [[{ "node": "📧 Send Success Email", "type": "main", "index": 0 }]] },
    "📧 Send Success Email": { "main": [[{ "node": "📊 Log Success", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "instanceId": "esuhai-n8n-cloud" },
  "tags": []
}
