automation_n8n/CEO Directive - WF1 - 2-STEP APPROVAL (v13.0 FIXED).json
{
  "name": "CEO Directive - WF1 - 2-STEP APPROVAL (v13.0 FIXED)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf1-manual",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "fd65f552-d81e-4e79-a47b-98b9ec006018",
      "name": "🚨 Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        13472,
        -256
      ],
      "webhookId": "wf1-manual"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8,13,17 * * *"
            }
          ]
        }
      },
      "id": "b57cca4d-be39-4595-95f4-1c75021bd55c",
      "name": "⏰ Auto: 08:00, 13:00, 17:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        13488,
        -880
      ]
    },
    {
      "parameters": {
        "jsCode": "return { json: { triggerSource: 'auto' } };"
      },
      "id": "8ebac1bd-aa15-4387-b17c-94926f0c3d9d",
      "name": "Set: Auto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13760,
        -880
      ]
    },
    {
      "parameters": {
        "jsCode": "return { json: { triggerSource: 'manual' } };"
      },
      "id": "b8bc6760-2438-460a-ab02-85cfd7c7e37f",
      "name": "Set: Manual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13744,
        -256
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'WF1 v13 triggered', timestamp: new Date().toISOString() } }}",
        "options": {}
      },
      "id": "a05d7911-7d25-4340-acd8-6f4464953b6d",
      "name": "📤 Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        13664,
        -496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/9abf8678-830d-47d6-9e4f-189a41b28493/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"and\": [\n      {\"property\": \"TINH_TRANG\", \"select\": {\"equals\": \"Chờ làm rõ\"}},\n      {\n        \"or\": [\n          {\"property\": \"✅ Đã duyệt bởi người chỉ đạo\", \"select\": {\"is_empty\": true}},\n          {\"property\": \"✅ Đã duyệt bởi người chỉ đạo\", \"select\": {\"equals\": \"Chưa duyệt\"}}\n        ]\n      }\n    ]\n  },\n  \"page_size\": 100\n}",
        "options": {}
      },
      "id": "0196193b-014c-4c10-bf6b-784684ecbbf9",
      "name": "📋 Query STEP1: Chờ duyệt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        14080,
        -880
      ],
      "credentials": {
        "notionApi": {
          "id": "sDlz7N367IegDSAc",
          "name": "Notion ESUHAI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/9abf8678-830d-47d6-9e4f-189a41b28493/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"and\": [\n      {\"property\": \"TINH_TRANG\", \"select\": {\"does_not_equal\": \"Đã tạo task\"}},\n      {\"property\": \"✅ Đã duyệt bởi người chỉ đạo\", \"select\": {\"equals\": \"Đã duyệt\"}},\n      {\n        \"or\": [\n          {\"property\": \"LENH_GUI_LOI_NHAC\", \"select\": {\"is_empty\": true}},\n          {\"property\": \"LENH_GUI_LOI_NHAC\", \"select\": {\"equals\": \"Gửi lời nhắc\"}}\n        ]\n      }\n    ]\n  },\n  \"page_size\": 100\n}",
        "options": {}
      },
      "id": "209c6f10-c742-4eed-a80b-cab3308cf874",
      "name": "📋 Query STEP2: Đã duyệt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        14080,
        -256
      ],
      "credentials": {
        "notionApi": {
          "id": "sDlz7N367IegDSAc",
          "name": "Notion ESUHAI"
        }
      }
    },
    {
      "parameters": {},
      "id": "edf1d3c6-45b7-4a79-909b-671bf0625fe8",
      "name": "🔀 Merge Queries",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        14752,
        -592
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// EXTRACTDATA v13.3 - WF1 2-STEP APPROVAL WITH PSYCHOLOGY\n// ============================================================\n// Purpose: Extract and validate clarification data for email workflow\n// Mode: Run Once for All Items\n// Version: 13.3 - Added psychology effects + T2 fallback to title\n// ============================================================\n\nconst items = $input.all();\nconst results = [];\n\n// ============================================================\n// CONSTANTS\n// ============================================================\n\nconst ALWAYS_CC = ['hoangkha@esuhai.com', 'vynnl@esuhai.com'];\n\n// ============================================================\n// HELPER FUNCTIONS\n// ============================================================\n\nfunction safeText(arr) {\n  if (!Array.isArray(arr) || arr.length === 0) return '';\n  return arr.map(t => t.plain_text || '').join('');\n}\n\nfunction safeSelect(select) {\n  if (!select || !select.name) return '';\n  return select.name;\n}\n\nfunction safeDate(date) {\n  if (!date || !date.start) return '';\n  return date.start;\n}\n\nfunction safeRelation(relation) {\n  if (!Array.isArray(relation) || relation.length === 0) return null;\n  return relation[0]; // Return first relation object\n}\n\nfunction safeRollup(rollup) {\n  if (!rollup || rollup.type !== 'array' || !Array.isArray(rollup.array)) return '';\n  if (rollup.array.length === 0) return '';\n  const firstItem = rollup.array[0];\n  if (firstItem.type === 'email') return firstItem.email || '';\n  if (firstItem.type === 'rich_text') return safeText(firstItem.rich_text);\n  return '';\n}\n\n// ============================================================\n// PROCESS EACH ITEM\n// ============================================================\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const page = item.json;\n  const props = page.properties || {};\n  \n  // ==========================================\n  // EXTRACT BASIC INFO\n  // ==========================================\n  \n  const id = page.id;\n  const tieuDe = safeText(props['Tiêu đề']?.title);\n  const nguon = safeSelect(props['Nguồn']?.select);\n  const ngayNhan = safeDate(props['Ngày nhận']?.date);\n  const noiDung = safeText(props['Nội dung gốc']?.rich_text);\n  \n  // ==========================================\n  // EXTRACT STATUS & APPROVAL\n  // ==========================================\n  \n  const tinhTrang = safeSelect(props['TÌNH TRẠNG']?.select);\n  const daDuyet = safeSelect(props['✅ Đã duyệt bởi người chỉ đạo']?.select);\n  const lenhGuiLoiNhac = safeSelect(props['LỆNH GỬI LỜI NHẮC']?.select);\n  \n  // ==========================================\n  // EXTRACT NGƯỜI CHỈ ĐẠO (REQUIRED FOR STEP1)\n  // ==========================================\n  \n  const nguoiChiDaoRelation = safeRelation(props['Người chỉ đạo']?.relation);\n  const emailNguoiChiDao = safeRollup(props['Email người chỉ đạo']?.rollup);\n  const tenNguoiChiDao = safeText(props['Tên người chỉ đạo']?.rollup?.array?.[0]?.title || []);\n  \n  // ==========================================\n  // EXTRACT ĐẦU MỐI (REQUIRED FOR STEP2)\n  // ==========================================\n  \n  const dauMoiRelation = safeRelation(props['T1 - ĐẦU MỐI']?.relation);\n  const emailDauMoi = safeRollup(props['Email đầu mối']?.rollup);\n  const tenDauMoi = safeText(props['Tên đầu mối']?.rollup?.array?.[0]?.title || []);\n  \n  // ==========================================\n  // EXTRACT 4T\n  // ==========================================\n  \n  const t2NhiemVu = safeText(props['T2 - NHIỆM VỤ']?.rich_text);\n  const t3ChiTieu = safeText(props['T3 - CHỈ TIÊU']?.rich_text);\n  const t4ThoiHan = safeDate(props['T4 - THỜI HẠN']?.date);\n  \n  // ==========================================\n  // VALIDATION & ROUTING LOGIC\n  // ==========================================\n  \n  // CRITICAL: Nếu không có email người chỉ đạo → SKIP với warning\n  if (!emailNguoiChiDao || emailNguoiChiDao === '') {\n    results.push({\n      json: {\n        clarificationId: id,\n        warning: true,\n        error: 'MISSING_NGUOI_CHI_DAO',\n        message: `[${tieuDe}] Thiếu Email người chỉ đạo - Không thể gửi mail STEP1`,\n        tieuDe,\n        tinhTrang,\n        daDuyet,\n        // For WF Logs\n        logStatus: '⚠️ Warning',\n        logError: 'Missing: Email người chỉ đạo',\n        logDetails: `ID: ${id}, Title: ${tieuDe}`,\n        sendTo: '',\n        emailSubject: '',\n        url: page.url,\n        version: '13.3'\n      }\n    });\n    continue; // Skip to next item\n  }\n  \n  // ==========================================\n  // DETERMINE STEP & BUILD EMAIL\n  // ==========================================\n  \n  let step = '';\n  let sendTo = '';\n  let emailSubject = '';\n  let emailBody = '';\n  let ccTo = [];\n  \n  if (!daDuyet || daDuyet === '' || daDuyet === 'Chưa duyệt') {\n    // ========================================\n    // STEP 1: Gửi người chỉ đạo để duyệt\n    // ========================================\n    \n    step = 'STEP1';\n    sendTo = emailNguoiChiDao; // Đã validate ở trên, chắc chắn có\n    emailSubject = `[Cần Duyệt] ${tieuDe || 'Chỉ đạo mới'}`;\n    ccTo = ALWAYS_CC.filter(e => e !== sendTo);\n    \n    emailBody = `\nKính gửi ${tenNguoiChiDao || 'Anh/Chị'},\n\n🎯 **YÊU CẦU DUYỆT CHỈ ĐẠO QUAN TRỌNG**\n\nTrong cuộc họp ${nguon} ngày ${ngayNhan}, Anh/Chị đã đưa ra chỉ đạo sau:\n\n📋 **NỘI DUNG:**\n${noiDung}\n\n---\n\n📝 **PHÂN TÍCH SƠ BỘ (Cần Anh/Chị xác nhận):**\n\n• **T1 - ĐẦU MỐI:** ${tenDauMoi || '❓ Cần xác nhận'}\n• **T2 - NHIỆM VỤ:** ${t2NhiemVu || tieuDe || '❓ Cần xác nhận'}\n• **T3 - CHỈ TIÊU:** ${t3ChiTieu || '❓ Cần xác nhận'}  \n• **T4 - THỜI HẠN:** ${t4ThoiHan || '❓ Cần xác nhận'}\n\n---\n\n💡 **TẠI SAO CẦN DUYỆT:**\n\n✅ **Đảm bảo chính xác:** Anh/Chị xác nhận lại thông tin trước khi giao cho đầu mối\n✅ **Tiết kiệm thời gian:** ${tenDauMoi || 'Đầu mối'} sẽ nhận được hướng dẫn rõ ràng, không phải hỏi lại\n✅ **Theo dõi tiến độ:** CEO sẽ nhìn thấy tiến độ xử lý chỉ đạo của Anh/Chị\n\n---\n\n👉 **DUYỆT NGAY TẠI ĐÂY:** ${page.url}\n\n⏰ **Chúng tôi đã BẮT ĐẦU xử lý chỉ đạo này.** Sau khi Anh/Chị duyệt, hệ thống sẽ tự động gửi email cho ${tenDauMoi || 'đầu mối'} để triển khai ngay.\n\n---\n\n_Trân trọng,_\n_Hệ thống WF1 v13.3 - EsuhaiGroup_\n_📧 Hỗ trợ: hoangkha@esuhai.com_\n    `.trim();\n    \n  } else if (daDuyet === 'Đã duyệt') {\n    // ========================================\n    // STEP 2: Gửi đầu mối để làm rõ\n    // ========================================\n    \n    // VALIDATION: Nếu không có email đầu mối → SKIP\n    if (!emailDauMoi || emailDauMoi === '') {\n      results.push({\n        json: {\n          clarificationId: id,\n          warning: true,\n          error: 'MISSING_DAU_MOI',\n          message: `[${tieuDe}] Đã duyệt nhưng thiếu Email đầu mối - Không thể gửi mail STEP2`,\n          tieuDe,\n          emailNguoiChiDao,\n          tenNguoiChiDao,\n          tinhTrang,\n          daDuyet,\n          // For WF Logs\n          logStatus: '⚠️ Warning',\n          logError: 'Missing: Email đầu mối',\n          logDetails: `ID: ${id}, Title: ${tieuDe}, Người chỉ đạo: ${tenNguoiChiDao}`,\n          sendTo: '',\n          emailSubject: '',\n          url: page.url,\n          version: '13.3'\n        }\n      });\n      continue; // Skip to next item\n    }\n    \n    step = 'STEP2';\n    sendTo = emailDauMoi;\n    emailSubject = `[Cần Làm Rõ] ${tieuDe || 'Chỉ đạo'} - Hạn: ${t4ThoiHan || 'Chưa xác định'}`;\n    \n    // CC: người chỉ đạo + ALWAYS_CC\n    const ccList = new Set(ALWAYS_CC);\n    if (emailNguoiChiDao) ccList.add(emailNguoiChiDao);\n    ccList.delete(sendTo); // Remove sendTo from CC\n    ccTo = Array.from(ccList);\n    \n    emailBody = `\nKính gửi ${tenDauMoi || 'Anh/Chị'},\n\n🎯 **NHIỆM VỤ MỚI TỪ ${tenNguoiChiDao || 'LÃNH ĐẠO'}**\n\n${tenNguoiChiDao || 'Lãnh đạo'} đã **PHÊ DUYỆT** và giao nhiệm vụ sau cho em:\n\n📋 **NỘI DUNG:**\n${noiDung}\n\n---\n\n📝 **YÊU CẦU CỤ THỂ (4T):**\n\n• **T1 - ĐẦU MỐI:** ${tenDauMoi || 'Em'} (đã được chỉ định)\n• **T2 - NHIỆM VỤ:** ${t2NhiemVu || tieuDe || 'Cần em xác nhận'}\n• **T3 - CHỈ TIÊU:** ${t3ChiTieu || 'Cần em xác nhận'}  \n• **T4 - THỜI HẠN:** ${t4ThoiHan || 'Cần em xác nhận'}\n\n---\n\n💡 **TẠI SAO CẦN XÁC NHẬN:**\n\n✅ **Làm rõ kỳ vọng:** Đảm bảo em hiểu đúng yêu cầu của ${tenNguoiChiDao || 'lãnh đạo'}\n✅ **Cam kết có ý thức:** \"Người Nói Phải LÀM\" - Em xác nhận là em cam kết làm\n✅ **CEO theo dõi:** Tiến độ sẽ được báo cáo trực tiếp lên CEO\n\n---\n\n👉 **XÁC NHẬN 4T NGAY:** ${page.url}\n\n⏰ **Chúng tôi đã BẮT ĐẦU tạo Task cho em.** Sau khi em xác nhận đầy đủ 4T, hệ thống sẽ hoàn tất Task và em có thể bắt đầu thực hiện ngay.\n\n🏆 **Đồng nghiệp khác đã xác nhận 4T trong vòng 24h.** Em cũng làm được!\n\n---\n\n_Trân trọng,_\n_Hệ thống WF1 v13.3 - EsuhaiGroup_  \n_📧 Hỗ trợ: hoangkha@esuhai.com_\n    `.trim();\n    \n  } else {\n    // Skip: Từ chối or other status\n    continue;\n  }\n  \n  // ==========================================\n  // BUILD RESULT OBJECT\n  // ==========================================\n  \n  results.push({\n    json: {\n      clarificationId: id,\n      step,\n      tieuDe,\n      nguon,\n      ngayNhan,\n      noiDung,\n      \n      // People\n      emailNguoiChiDao,\n      tenNguoiChiDao,\n      emailDauMoi,\n      tenDauMoi,\n      \n      // Email routing\n      sendTo,\n      emailSubject,\n      ccTo: ccTo.join(', '),\n      emailBody,\n      \n      // Status\n      tinhTrang,\n      daDuyet,\n      lenhGuiLoiNhac,\n      \n      // 4T\n      t2NhiemVu,\n      t3ChiTieu,\n      t4ThoiHan,\n      \n      // URL\n      url: page.url,\n      \n      // Version\n      version: '13.3'\n    }\n  });\n}\n\n// ============================================================\n// RETURN RESULTS\n// ============================================================\n\nreturn results;"
      },
      "id": "9f38caba-024d-4cda-a400-434e98f38f18",
      "name": "⚙️ ExtractData",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14976,
        -592
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-data",
              "leftValue": "={{ $json.clarificationId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "002c5263-6a01-4985-b50c-5f844c6bcd04",
      "name": "IF: Has Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        15216,
        -592
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.sendTo }}",
        "subject": "={{ $json.emailSubject }}",
        "message": "=<!DOCTYPE html>\n<html>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n  <div style=\"max-width: 600px; margin: 0 auto; padding: 20px;\">\n    \n    <h2 style=\"color: #2563eb;\">🎯 YÊU CẦU DUYỆT CHỈ ĐẠO QUAN TRỌNG</h2>\n    \n    <p>Kính gửi <strong>{{$json.tenNguoiChiDao}}</strong>,</p>\n    \n    <p>Trong cuộc họp <strong>{{$json.nguon}}</strong> ngày <strong>{{$json.ngayNhan}}</strong>, Anh/Chị đã đưa ra chỉ đạo sau:</p>\n    \n    <div style=\"background: #f3f4f6; padding: 15px; border-left: 4px solid #2563eb; margin: 20px 0;\">\n      <strong>📋 NỘI DUNG:</strong><br>\n      {{$json.noiDung}}\n    </div>\n    \n    <hr style=\"border: none; border-top: 1px solid #e5e7eb; margin: 20px 0;\">\n    \n    <h3 style=\"color: #059669;\">📝 PHÂN TÍCH SƠ BỘ (Cần Anh/Chị xác nhận):</h3>\n    \n    <ul style=\"list-style: none; padding-left: 0;\">\n      <li style=\"margin: 10px 0;\">✓ <strong>T1 - ĐẦU MỐI:</strong> {{$json.tenDauMoi}}</li>\n      <li style=\"margin: 10px 0;\">✓ <strong>T2 - NHIỆM VỤ:</strong> {{$json.t2NhiemVu || $json.tieuDe}}</li>\n      <li style=\"margin: 10px 0;\">❓ <strong>T3 - CHỈ TIÊU:</strong> {{$json.t3ChiTieu || \"Cần xác nhận\"}}</li>\n      <li style=\"margin: 10px 0;\">❓ <strong>T4 - THỜI HẠN:</strong> {{$json.t4ThoiHan || \"Cần xác nhận\"}}</li>\n    </ul>\n    \n    <hr style=\"border: none; border-top: 1px solid #e5e7eb; margin: 20px 0;\">\n    \n    <h3 style=\"color: #7c3aed;\">💡 TẠI SAO CẦN DUYỆT:</h3>\n    \n    <ul>\n      <li><strong>Đảm bảo chính xác:</strong> Anh/Chị xác nhận lại thông tin trước khi giao cho đầu mối</li>\n      <li><strong>Tiết kiệm thời gian:</strong> {{$json.tenDauMoi}} sẽ nhận được hướng dẫn rõ ràng, không phải hỏi lại</li>\n      <li><strong>Theo dõi tiến độ:</strong> CEO sẽ nhìn thấy tiến độ xử lý chỉ đạo của Anh/Chị</li>\n    </ul>\n    \n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"{{$json.url}}\" style=\"background: #2563eb; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block;\">\n        👉 DUYỆT NGAY TẠI ĐÂY\n      </a>\n    </div>\n    \n    <div style=\"background: #fef3c7; padding: 15px; border-left: 4px solid #f59e0b; margin: 20px 0;\">\n      <strong>⏰ Chúng tôi đã BẮT ĐẦU xử lý chỉ đạo này.</strong> Sau khi Anh/Chị duyệt, hệ thống sẽ tự động gửi email cho {{$json.tenDauMoi}} để triển khai ngay.\n    </div>\n    \n    <hr style=\"border: none; border-top: 1px solid #e5e7eb; margin: 20px 0;\">\n    \n    <p style=\"color: #6b7280; font-size: 14px;\">\n      <em>Trân trọng,</em><br>\n      <em>Hệ thống WF1 v13.3 - EsuhaiGroup</em><br>\n      <em>📧 Hỗ trợ: hoangkha@esuhai.com</em>\n    </p>\n    \n  </div>\n</body>\n</html>",
        "options": {
          "ccList": "={{$json.ccTo}}"
        }
      },
      "id": "125b9eed-451a-4c03-908d-abfb166899cb",
      "name": "📧 Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        15888,
        -1168
      ],
      "webhookId": "66f293d2-ed11-40ee-a9f0-4ab64fd0fd10",
      "credentials": {
        "gmailOAuth2": {
          "id": "QMCQ41m8F8hiBKal",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "cfadd8c8-67cf-4285-b6ac-834d56f2896e",
      "name": "📊 Log Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16128,
        -768
      ],
      "credentials": {
        "notionApi": {
          "id": "sDlz7N367IegDSAc",
          "name": "Notion ESUHAI"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/2d879870-ebff-8107-a6bf-f2159836e30a",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    {{ $json.step === 'STEP2' ? '\"LENH_GUI_LOI_NHAC\": { \"select\": { \"name\": \"Đã nhắc\" } },' : '' }}\n    \"TINH_TRANG\": { \"select\": { \"name\": \"Đã gửi email\" } }\n  }\n}",
        "options": {}
      },
      "id": "d04e1446-1ffe-4d09-abbd-c3b2aba5297d",
      "name": "🔄 Update Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        15888,
        -976
      ],
      "credentials": {
        "notionApi": {
          "id": "sDlz7N367IegDSAc",
          "name": "Notion ESUHAI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": { \"database_id\": \"53a48a4f-29ba-46d2-8e53-3f358d3c513c\" },\n  \"properties\": {\n    \"Log\": { \"title\": [{ \"text\": { \"content\": \"WF1 ERROR: Missing To/Subject\" } }] },\n    \"Workflow\": { \"select\": { \"name\": \"WF1 - Gửi email\" } },\n    \"Status\": { \"select\": { \"name\": \"⚠️ Warning\" } },\n    \"Error\": { \"rich_text\": [{ \"text\": { \"content\": \"Missing: {{ !$json.sendTo ? 'To' : '' }}{{ !$json.sendTo && !$json.emailSubject ? ', ' : '' }}{{ !$json.emailSubject ? 'Subject' : '' }}\" } }] },\n    \"Details\": { \"rich_text\": [{ \"text\": { \"content\": \"ID: {{ $json.clarificationId || 'N/A' }} | To: {{ $json.sendTo || 'MISSING' }} | Subject: {{ $json.emailSubject || 'MISSING' }}\" } }] }\n  }\n}",
        "options": {}
      },
      "id": "4a338b83-f13e-43cd-a117-e0a5afab345b",
      "name": "⚠️ Log Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16400,
        -576
      ],
      "credentials": {
        "notionApi": {
          "id": "sDlz7N367IegDSAc",
          "name": "Notion ESUHAI"
        }
      }
    },
    {
      "parameters": {},
      "id": "8c966364-e186-4760-b7a3-852e98a1d0a2",
      "name": "🏁 Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        16640,
        -768
      ]
    },
    {
      "parameters": {},
      "id": "3ca136c7-c98d-4a48-8cfd-820a8b2e464c",
      "name": "🏁 No Items",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        15520,
        -384
      ]
    },
    {
      "parameters": {
        "jsCode": "// ==========================================\n// AGGREGATE ERRORS - Tổng hợp lỗi thành 1 email\n// ==========================================\n\nconst items = $input.all();\n\n// Filter chỉ lấy error items\nconst errorItems = items.filter(item => item.json.warning === true);\n\nif (errorItems.length === 0) {\n  // Không có lỗi → return empty\n  return [];\n}\n\n// ==========================================\n// BUILD SUMMARY TABLE\n// ==========================================\n\nlet tableRows = '';\n\nfor (let i = 0; i < errorItems.length; i++) {\n  const item = errorItems[i].json;\n  const stt = i + 1;\n  \n  tableRows += `\n<tr>\n  <td style=\"border: 1px solid #ddd; padding: 8px; text-align: center;\">${stt}</td>\n  <td style=\"border: 1px solid #ddd; padding: 8px;\">${item.tieuDe || 'Không có tiêu đề'}</td>\n  <td style=\"border: 1px solid #ddd; padding: 8px;\">${item.nguon || 'N/A'}</td>\n  <td style=\"border: 1px solid #ddd; padding: 8px;\">${item.error || 'Unknown error'}</td>\n  <td style=\"border: 1px solid #ddd; padding: 8px;\"><a href=\"${item.url || '#'}\">Xem chi tiết</a></td>\n</tr>\n  `.trim();\n}\n\n// ==========================================\n// BUILD EMAIL CONTENT\n// ==========================================\n\nconst emailSubject = `[⚠️ Cần Xử Lý] ${errorItems.length} chỉ đạo thiếu thông tin - ${new Date().toLocaleDateString('vi-VN')}`;\n\nconst emailBody = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; }\n    table { border-collapse: collapse; width: 100%; margin: 20px 0; }\n    th { background-color: #f39c12; color: white; padding: 10px; text-align: left; border: 1px solid #ddd; }\n    td { border: 1px solid #ddd; padding: 8px; }\n    .summary { background-color: #fff3cd; border-left: 4px solid #f39c12; padding: 15px; margin: 20px 0; }\n  </style>\n</head>\n<body>\n  <h2>⚠️ BÁO CÁO CHỈ ĐẠO THIẾU THÔNG TIN</h2>\n  \n  <div class=\"summary\">\n    <strong>Tổng quan:</strong> Hệ thống phát hiện <strong>${errorItems.length} chỉ đạo</strong> không thể xử lý do thiếu thông tin bắt buộc.\n  </div>\n  \n  <h3>📋 DANH SÁCH CHI TIẾT:</h3>\n  \n  <table>\n    <thead>\n      <tr>\n        <th style=\"width: 50px;\">STT</th>\n        <th style=\"width: 40%;\">Tiêu đề chỉ đạo</th>\n        <th style=\"width: 15%;\">Nguồn</th>\n        <th style=\"width: 20%;\">Lỗi</th>\n        <th style=\"width: 15%;\">Link</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${tableRows}\n    </tbody>\n  </table>\n  \n  <h3>👉 HÀNH ĐỘNG CẦN LÀM:</h3>\n  \n  <ol>\n    <li><strong>Vào Notion Clarifications database</strong></li>\n    <li><strong>Tìm các chỉ đạo trong bảng trên</strong></li>\n    <li><strong>Cập nhật property \"Người chỉ đạo\"</strong> (link đến HR database)</li>\n    <li><strong>Chạy lại workflow WF1</strong> (manual trigger webhook)</li>\n  </ol>\n  \n  <hr style=\"margin: 30px 0;\">\n  \n  <p style=\"color: #666; font-size: 12px;\">\n    <em>Email tự động từ Hệ thống WF1 - EsuhaiGroup</em><br>\n    <em>Thời gian: ${new Date().toLocaleString('vi-VN')}</em>\n  </p>\n</body>\n</html>\n`.trim();\n\n// ==========================================\n// RETURN SINGLE AGGREGATED EMAIL\n// ==========================================\n\nreturn [{\n  json: {\n    sendTo: 'vynnl@esuhai.com, hoangkha@esuhai.com',\n    emailSubject,\n    emailBody,\n    errorCount: errorItems.length,\n    type: 'ERROR_SUMMARY',\n    version: '13.1'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15888,
        -576
      ],
      "id": "0587aa5f-ff2b-4a99-a3b4-2ba91e782d20",
      "name": "📊 AggregateErrors"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.sendTo }}",
        "subject": "={{ $json.emailSubject }}",
        "message": "={{ $json.emailBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        16144,
        -576
      ],
      "id": "3827a0cc-f6c8-4914-8abe-339542b0e317",
      "name": "📧 Send Error Summary",
      "webhookId": "4ced9f18-2be8-4b1b-8c68-3a8d2c205a56",
      "credentials": {
        "gmailOAuth2": {
          "id": "QMCQ41m8F8hiBKal",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{ $json.sendTo && $json.sendTo.length > 0 && $json.emailSubject && $json.emailSubject.length > 0 ? 1 : 0 }}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        15520,
        -784
      ],
      "id": "447a7193-8bff-4bfb-a19f-b471125f1626",
      "name": "Switch"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        14400,
        -880
      ],
      "id": "a8825c43-6e8e-49ea-bd30-b02124b7b55a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        14400,
        -256
      ],
      "id": "9344ac06-85d5-4ac0-8ecf-942d8549c76e",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "jsCode": "// Xử lý TẤT CẢ items\nreturn items.map(item => {\n  const data = item.json;\n  \n  // TỰ ĐỘNG XÁC ĐỊNH STATUS\n  let status = \"⚠️ Warning\";  // Mặc định\n  \n  if (data.sendTo && data.emailSubject && data.clarificationId) {\n    status = \"✅ Success\";  // Có đủ thông tin\n  }\n  \n  if (data.logStatus) {\n    status = data.logStatus;  // Ưu tiên logStatus nếu có\n  }\n  \n  // Build body\n  const body = {\n    parent: { database_id: \"53a48a4f29ba46d28e533f358d3c513c\" },\n    properties: {\n      \"Log\": { \n        title: [{ \n          text: { \n            content: `WF1 - ${data.step || 'No step'}` \n          } \n        }] \n      },\n      \"Workflow\": { \n        select: { \n          name: \"WF1 - Gửi email\" \n        } \n      },\n      \"Status\": { \n        select: { \n          name: status  // ← DÙNG BIẾN ĐÃ TÍNH\n        } \n      },\n      \"Clarification\": { \n        relation: data.clarificationId ? [{ id: data.clarificationId }] : [] \n      },\n      \"Details\": { \n        rich_text: [{ \n          text: { \n            content: data.logDetails || \n                     data.message || \n                     `ID: ${data.clarificationId}\\nTitle: ${data.tieuDe}\\nTo: ${data.sendTo || 'N/A'}\\nSubject: ${data.emailSubject || 'N/A'}` || \n                     \"No details\"\n          } \n        }] \n      }\n    }\n  };\n  \n  // Add Email To nếu có\n  if (data.sendTo) {\n    body.properties[\"Email To\"] = { email: data.sendTo };\n  }\n  \n  return { json: body };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15888,
        -768
      ],
      "id": "bed25f45-744a-4c91-9c1c-f49508f14dd7",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "🚨 Manual Trigger": {
      "main": [
        [
          {
            "node": "📤 Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set: Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Auto: 08:00, 13:00, 17:00": {
      "main": [
        [
          {
            "node": "Set: Auto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Auto": {
      "main": [
        [
          {
            "node": "📋 Query STEP1: Chờ duyệt",
            "type": "main",
            "index": 0
          },
          {
            "node": "📋 Query STEP2: Đã duyệt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Manual": {
      "main": [
        [
          {
            "node": "📋 Query STEP1: Chờ duyệt",
            "type": "main",
            "index": 0
          },
          {
            "node": "📋 Query STEP2: Đã duyệt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Query STEP1: Chờ duyệt": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Query STEP2: Đã duyệt": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Merge Queries": {
      "main": [
        [
          {
            "node": "⚙️ ExtractData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ ExtractData": {
      "main": [
        [
          {
            "node": "IF: Has Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Has Items?": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🏁 No Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Send Email": {
      "main": [
        [
          {
            "node": "🏁 Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Log Success": {
      "main": [
        [
          {
            "node": "🏁 Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Update Status": {
      "main": [
        [
          {
            "node": "🏁 Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚠️ Log Error": {
      "main": [
        [
          {
            "node": "🏁 Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 AggregateErrors": {
      "main": [
        [
          {
            "node": "📧 Send Error Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Send Error Summary": {
      "main": [
        [
          {
            "node": "⚠️ Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "📊 AggregateErrors",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📧 Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔄 Update Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "🔀 Merge Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "🔀 Merge Queries",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "📊 Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "2e4f55b9-0b4b-4cb3-8083-806842b69459",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "713be899eac04f9192785798e717fb5898ccbfb1aeeb4016ea13e34e3e92a901"
  },
  "id": "EY8IRwgSIg3gzYJJ",
  "tags": []
}