automation_n8n/WF0_AutoSyncEmail_v1.0.json
{
  "meta": {
    "version": "1.0",
    "name": "WF0 - Auto Sync Email từ HR",
    "description": "Khi Clarification có T1-ĐẦU MỐI nhưng chưa có Email → Fetch HR → Update Email",
    "updated": "2025-12-28"
  },
  "name": "CEO Directive - WF0 - Auto Sync Email (v1.0)",
  "nodes": [
    {
      "parameters": {
        "rule": {"interval": [{"field": "minutes", "minutesInterval": 10}]}
      },
      "id": "trigger",
      "name": "⏰ Poll: 10 phút",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/9abf8678-830d-47d6-9e4f-189a41b28493/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Notion-Version", "value": "2022-06-28"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"and\": [\n      {\n        \"property\": \"T1 - ĐẦU MỐI\",\n        \"relation\": { \"is_not_empty\": true }\n      },\n      {\n        \"or\": [\n          { \"property\": \"📧 Email đầu mối\", \"email\": { \"is_empty\": true } },\n          { \"property\": \"📧 Email đầu mối\", \"email\": { \"equals\": \"\" } }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "query-clarifications",
      "name": "📋 Query: Có HR, chưa có Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "credentials": {"notionApi": {"id": "sDlz7N367IegDSAc", "name": "Notion ESUHAI"}}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/8d88b66f-94e3-4a1a-85a8-74f2422a2db7/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Notion-Version", "value": "2022-06-28"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"page_size\": 100 }",
        "options": {}
      },
      "id": "query-hr",
      "name": "👤 Query ALL HR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 100],
      "credentials": {"notionApi": {"id": "sDlz7N367IegDSAc", "name": "Notion ESUHAI"}}
    },
    {
      "parameters": {"mode": "combine", "combineBy": "combineAll", "options": {}},
      "id": "merge",
      "name": "🔀 Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [720, 200]
    },
    {
      "parameters": {
        "jsCode": "// WF0: Match HR và tạo update requests\nconst inputs = $input.all();\n\nlet clarifications = [];\nlet hrList = [];\n\nfor (const inp of inputs) {\n  const results = inp.json?.results || [];\n  if (results.length === 0) continue;\n  \n  const firstProps = results[0]?.properties || {};\n  if (firstProps['Tiêu đề']) {\n    clarifications = results;\n  } else if (firstProps['Email'] && firstProps['Họ và Tên']) {\n    hrList = results;\n  }\n}\n\nconsole.log('[WF0] Clarifications cần sync:', clarifications.length);\nconsole.log('[WF0] HR records:', hrList.length);\n\n// Build HR Map\nconst hrMap = {};\nfor (const hr of hrList) {\n  const props = hr.properties || {};\n  hrMap[hr.id] = {\n    email: props['Email']?.email || '',\n    name: props['Họ và Tên']?.title?.[0]?.plain_text || ''\n  };\n}\n\nconst outputItems = [];\n\nfor (const page of clarifications) {\n  const props = page.properties;\n  const id = page.id;\n  const title = props['Tiêu đề']?.title?.[0]?.plain_text || '';\n  \n  const t1Relation = props['T1 - ĐẦU MỐI']?.relation || [];\n  if (t1Relation.length === 0) continue;\n  \n  const hrId = t1Relation[0].id;\n  const hrData = hrMap[hrId];\n  \n  if (!hrData || !hrData.email) {\n    console.log('[WF0] SKIP:', title.substring(0, 30), '- HR not found or no email');\n    continue;\n  }\n  \n  console.log('[WF0] SYNC:', title.substring(0, 30), '→', hrData.email);\n  \n  outputItems.push({\n    json: {\n      clarificationId: id,\n      title,\n      hrEmail: hrData.email,\n      hrName: hrData.name\n    }\n  });\n}\n\nconsole.log('[WF0] To update:', outputItems.length);\nreturn outputItems;"
      },
      "id": "extract",
      "name": "📊 Match HR → Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [950, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [{"id": "has-items", "leftValue": "={{ $json.clarificationId }}", "rightValue": "", "operator": {"type": "string", "operation": "notEquals"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-items",
      "name": "IF: Có Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1180, 200]
    },
    {
      "parameters": {"options": {}},
      "id": "loop",
      "name": "🔁 Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1410, 100]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.clarificationId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Notion-Version", "value": "2022-06-28"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"📧 Email đầu mối\": { \"email\": \"{{ $json.hrEmail }}\" }\n  }\n}",
        "options": {}
      },
      "id": "update-email",
      "name": "📝 Update Email đầu mối",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1640, 100],
      "credentials": {"notionApi": {"id": "sDlz7N367IegDSAc", "name": "Notion ESUHAI"}}
    },
    {
      "parameters": {},
      "id": "done",
      "name": "🏁 Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1410, 300]
    }
  ],
  "connections": {
    "⏰ Poll: 10 phút": {
      "main": [[
        {"node": "📋 Query: Có HR, chưa có Email", "type": "main", "index": 0},
        {"node": "👤 Query ALL HR", "type": "main", "index": 0}
      ]]
    },
    "📋 Query: Có HR, chưa có Email": {
      "main": [[{"node": "🔀 Merge", "type": "main", "index": 0}]]
    },
    "👤 Query ALL HR": {
      "main": [[{"node": "🔀 Merge", "type": "main", "index": 1}]]
    },
    "🔀 Merge": {
      "main": [[{"node": "📊 Match HR → Email", "type": "main", "index": 0}]]
    },
    "📊 Match HR → Email": {
      "main": [[{"node": "IF: Có Items?", "type": "main", "index": 0}]]
    },
    "IF: Có Items?": {
      "main": [
        [{"node": "🔁 Loop", "type": "main", "index": 0}],
        [{"node": "🏁 Done", "type": "main", "index": 0}]
      ]
    },
    "🔁 Loop": {
      "main": [
        [{"node": "📝 Update Email đầu mối", "type": "main", "index": 0}],
        [{"node": "🏁 Done", "type": "main", "index": 0}]
      ]
    },
    "📝 Update Email đầu mối": {
      "main": [[{"node": "🔁 Loop", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-28T21:45:00.000Z",
  "versionId": "v1.0"
}
