automation_n8n/WF1_v4_FINAL.json
{
  "name": "CEO Directive - WF1 - Gửi Yêu cầu Xác nhận (v4 FINAL)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "9abf8678-830d-47d6-9e4f-189a41b28493",
          "mode": "list",
          "cachedResultName": "Chỉ đạo Cần Làm Rõ",
          "cachedResultUrl": "https://www.notion.so/9abf8678830d47d69e4f189a41b28493"
        },
        "simple": false
      },
      "id": "trigger-001",
      "name": "Notion Trigger - New Clarification",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "sDlz7N367IegDSAc",
          "name": "Notion ESUHAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// WF1 v4 - EXTRACT CLARIFICATION DATA\n// Logic: Trigger khi \"Mới tạo\" HOẶC \"Chờ làm rõ\"\n// Updated: 28/12/2025\n// ========================================\n\nconst item = $input.first().json;\nconst properties = item.properties || {};\n\n// ========== HELPER: Get field by type and keywords ==========\nfunction getField(type, keywords) {\n  for (const [name, data] of Object.entries(properties)) {\n    if (data.type !== type) continue;\n    const nameLower = name.toLowerCase();\n    if (keywords.some(kw => nameLower.includes(kw.toLowerCase()))) {\n      if (type === 'title') return data.title?.[0]?.plain_text || '';\n      if (type === 'rich_text') return data.rich_text?.[0]?.plain_text || '';\n      if (type === 'select') return data.select?.name || '';\n      if (type === 'date') return data.date?.start || '';\n      if (type === 'email') return data.email || '';\n      if (type === 'number') return data.number || 0;\n    }\n  }\n  return '';\n}\n\n// ========== EXTRACT BASIC FIELDS ==========\nlet tieuDe = '';\nfor (const [name, data] of Object.entries(properties)) {\n  if (data.type === 'title' && data.title?.[0]) {\n    tieuDe = data.title[0].plain_text || '';\n    break;\n  }\n}\n\nconst tinhTrang = getField('select', ['tình trạng', 'status']);\nconst noiDungGoc = getField('rich_text', ['nội dung', 'gốc']);\nconst t2NhiemVu = getField('rich_text', ['nhiệm vụ', 't2']);\nconst t3ChiTieu = getField('rich_text', ['chỉ tiêu', 't3']);\nconst t4ThoiHan = getField('date', ['thời hạn', 't4', 'deadline']);\nconst nguonGiaoViec = getField('select', ['nguồn']);\nconst uuTien = getField('select', ['ưu tiên', 'priority']);\nconst emailDauMoi = getField('email', ['email', 'đầu mối']);\n\n// ========== GET HR RELATION ==========\nlet hrRelationId = '';\nfor (const [name, data] of Object.entries(properties)) {\n  if (data.type === 'relation') {\n    const nameLower = name.toLowerCase();\n    if (nameLower.includes('người nhận') || nameLower.includes('hr') || nameLower.includes('chỉ đạo')) {\n      if (data.relation && data.relation.length > 0) {\n        hrRelationId = data.relation[0].id || '';\n      }\n      break;\n    }\n  }\n}\n\n// ========== TRIGGER LOGIC ==========\n// Trigger khi: \"Mới tạo\" HOẶC \"Chờ làm rõ\"\n// KHÔNG trigger khi: \"Đã gửi email\", \"Đã bổ sung\", \"Đã tạo task\"\nconst tinhTrangLower = tinhTrang.toLowerCase();\nconst shouldTrigger = \n  tinhTrangLower.includes('mới tạo') || \n  tinhTrangLower.includes('chờ làm rõ') ||\n  tinhTrangLower.includes('cho lam ro');\n\n// ========== EMAIL SOURCE LOGIC ==========\n// Priority 1: Email đầu mối (direct field)\n// Priority 2: HR lookup\n// Priority 3: Fallback\nlet emailSource = 'fallback';\nlet primaryEmail = '';\n\nif (emailDauMoi && emailDauMoi.includes('@')) {\n  emailSource = 'direct_field';\n  primaryEmail = emailDauMoi;\n} else if (hrRelationId) {\n  emailSource = 'hr_lookup';\n  primaryEmail = ''; // Will be resolved in HR lookup node\n} else {\n  emailSource = 'fallback';\n  primaryEmail = 'vynnl@esuhai.com';\n}\n\n// ========== BUILD OUTPUT ==========\nconst output = {\n  // IDs\n  clarificationId: item.id,\n  clarificationUrl: item.url || `https://www.notion.so/${item.id.replace(/-/g, '')}`,\n  \n  // Trigger control\n  shouldTrigger: shouldTrigger,\n  tinhTrang: tinhTrang,\n  \n  // Content\n  tieuDe: tieuDe,\n  noiDungGoc: noiDungGoc,\n  t2NhiemVu: t2NhiemVu,\n  t3ChiTieu: t3ChiTieu,\n  t4ThoiHan: t4ThoiHan,\n  nguonGiaoViec: nguonGiaoViec || 'CEO',\n  uuTien: uuTien,\n  \n  // Email routing\n  emailSource: emailSource,\n  primaryEmail: primaryEmail,\n  hrRelationId: hrRelationId,\n  fallbackPrimary: 'vynnl@esuhai.com',\n  fallbackCC: 'hoangkha@esuhai.com',\n  \n  // 4T check\n  has4T: Boolean(tieuDe && t2NhiemVu && t3ChiTieu && t4ThoiHan)\n};\n\nconsole.log('=== WF1 v4 EXTRACT ===');\nconsole.log('Clarification:', tieuDe.substring(0, 50));\nconsole.log('Status:', tinhTrang);\nconsole.log('Should Trigger:', shouldTrigger);\nconsole.log('Email Source:', emailSource);\nconsole.log('Primary Email:', primaryEmail || '(will lookup)');\nconsole.log('HR Relation ID:', hrRelationId || '(none)');\n\nreturn output;"
      },
      "id": "extract-001",
      "name": "Extract Clarification Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "trigger-check",
              "leftValue": "={{ $json.shouldTrigger }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-001",
      "name": "Filter: Cần gửi email",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        710,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.emailSource }}",
                    "rightValue": "direct_field",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.emailSource }}",
                    "rightValue": "hr_lookup",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "switch-001",
      "name": "Switch: Email Source",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        940,
        300
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.hrRelationId }}",
          "mode": "id"
        }
      },
      "id": "get-hr-001",
      "name": "Get HR Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1170,
        420
      ],
      "credentials": {
        "notionApi": {
          "id": "sDlz7N367IegDSAc",
          "name": "Notion ESUHAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// WF1 v4 - BUILD EMAIL (DIRECT)\n// Email từ field \"📧 Email đầu mối\"\n// ========================================\n\nconst data = $input.first().json;\n\n// Google Form prefill URL\nconst formId = '1FAIpQLSdzRTOucM4qWwlxyx3yEelDorBv2ADnL8jFUUW7-xpqdidvBw';\nconst baseUrl = `https://docs.google.com/forms/d/e/${formId}/viewform?usp=pp_url`;\n\n// Build prefill params\nconst params = [\n  `entry.123456789=${encodeURIComponent(data.clarificationId)}`,\n  `entry.987654321=${encodeURIComponent(data.tieuDe || '')}`,\n  `entry.111111111=${encodeURIComponent(data.t2NhiemVu || '')}`,\n  `entry.222222222=${encodeURIComponent(data.t3ChiTieu || '')}`,\n  `entry.333333333=${encodeURIComponent(data.t4ThoiHan || '')}`\n].join('&');\n\nconst prefillUrl = `${baseUrl}&${params}`;\n\nconsole.log('=== BUILD EMAIL (DIRECT) ===');\nconsole.log('To:', data.primaryEmail);\nconsole.log('Source: direct_field');\n\nreturn {\n  ...data,\n  sendTo: data.primaryEmail,\n  ccEmail: '',\n  bccEmail: 'hoangkha@esuhai.com',\n  prefillUrl: prefillUrl,\n  emailResolution: 'direct_field'\n};"
      },
      "id": "build-direct-001",
      "name": "Build Email (Direct)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1170,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// WF1 v4 - BUILD EMAIL (HR LOOKUP)\n// Lấy email từ HR page, fallback nếu không có\n// ========================================\n\nconst hrPage = $input.first().json;\nconst originalData = $('Extract Clarification Data').first().json;\n\n// Try to get email from HR page\nlet hrEmail = '';\nconst props = hrPage.properties || {};\n\nfor (const [name, data] of Object.entries(props)) {\n  if (data.type === 'email' && data.email) {\n    hrEmail = data.email;\n    break;\n  }\n  // Also check rich_text fields that might contain email\n  if (data.type === 'rich_text' && data.rich_text?.[0]?.plain_text) {\n    const text = data.rich_text[0].plain_text;\n    if (text.includes('@')) {\n      hrEmail = text.trim();\n      break;\n    }\n  }\n}\n\n// Determine final email\nlet sendTo = hrEmail;\nlet ccEmail = '';\nlet emailResolution = 'hr_lookup';\n\nif (!hrEmail) {\n  // Fallback\n  sendTo = originalData.fallbackPrimary;\n  ccEmail = originalData.fallbackCC;\n  emailResolution = 'fallback_from_hr';\n}\n\n// Google Form prefill URL\nconst formId = '1FAIpQLSdzRTOucM4qWwlxyx3yEelDorBv2ADnL8jFUUW7-xpqdidvBw';\nconst baseUrl = `https://docs.google.com/forms/d/e/${formId}/viewform?usp=pp_url`;\n\nconst params = [\n  `entry.123456789=${encodeURIComponent(originalData.clarificationId)}`,\n  `entry.987654321=${encodeURIComponent(originalData.tieuDe || '')}`,\n  `entry.111111111=${encodeURIComponent(originalData.t2NhiemVu || '')}`,\n  `entry.222222222=${encodeURIComponent(originalData.t3ChiTieu || '')}`,\n  `entry.333333333=${encodeURIComponent(originalData.t4ThoiHan || '')}`\n].join('&');\n\nconst prefillUrl = `${baseUrl}&${params}`;\n\nconsole.log('=== BUILD EMAIL (HR LOOKUP) ===');\nconsole.log('HR Email found:', hrEmail || '(none)');\nconsole.log('Final sendTo:', sendTo);\nconsole.log('Resolution:', emailResolution);\n\nreturn {\n  ...originalData,\n  sendTo: sendTo,\n  ccEmail: ccEmail,\n  bccEmail: 'hoangkha@esuhai.com',\n  prefillUrl: prefillUrl,\n  emailResolution: emailResolution,\n  hrEmailFound: hrEmail\n};"
      },
      "id": "build-hr-001",
      "name": "Build Email (HR Lookup)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// WF1 v4 - BUILD EMAIL (FALLBACK)\n// Không có email đầu mối, không có HR relation\n// ========================================\n\nconst data = $input.first().json;\n\n// Google Form prefill URL\nconst formId = '1FAIpQLSdzRTOucM4qWwlxyx3yEelDorBv2ADnL8jFUUW7-xpqdidvBw';\nconst baseUrl = `https://docs.google.com/forms/d/e/${formId}/viewform?usp=pp_url`;\n\nconst params = [\n  `entry.123456789=${encodeURIComponent(data.clarificationId)}`,\n  `entry.987654321=${encodeURIComponent(data.tieuDe || '')}`,\n  `entry.111111111=${encodeURIComponent(data.t2NhiemVu || '')}`,\n  `entry.222222222=${encodeURIComponent(data.t3ChiTieu || '')}`,\n  `entry.333333333=${encodeURIComponent(data.t4ThoiHan || '')}`\n].join('&');\n\nconst prefillUrl = `${baseUrl}&${params}`;\n\nconsole.log('=== BUILD EMAIL (FALLBACK) ===');\nconsole.log('To:', data.fallbackPrimary);\nconsole.log('CC:', data.fallbackCC);\n\nreturn {\n  ...data,\n  sendTo: data.fallbackPrimary,\n  ccEmail: data.fallbackCC,\n  bccEmail: 'hoangkha@esuhai.com',\n  prefillUrl: prefillUrl,\n  emailResolution: 'fallback_direct'\n};"
      },
      "id": "build-fallback-001",
      "name": "Build Email (Fallback)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1170,
        560
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "clarificationId",
              "field2": "clarificationId"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-001",
      "name": "Merge All Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1630,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.sendTo }}",
        "subject": "=📋 Xác nhận Chỉ đạo: {{ $json.tieuDe.substring(0, 50) }}{{ $json.tieuDe.length > 50 ? '...' : '' }}",
        "message": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 650px; margin: 0 auto; background: #ffffff;\">\n  \n  <!-- Header -->\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; text-align: center; border-radius: 8px 8px 0 0;\">\n    <h1 style=\"color: #ffffff; margin: 0; font-size: 22px;\">📋 Yêu cầu Xác nhận Chỉ đạo</h1>\n    <p style=\"color: rgba(255,255,255,0.85); margin: 10px 0 0 0; font-size: 14px;\">Văn phòng Tổng Giám đốc - EsuhaiGroup</p>\n  </div>\n  \n  <!-- Body -->\n  <div style=\"padding: 30px; background: #f8f9fa; border: 1px solid #e9ecef;\">\n    \n    <p style=\"font-size: 16px; color: #333; margin-bottom: 20px;\">Xin chào Anh/Chị,</p>\n    \n    <p style=\"font-size: 15px; color: #555; line-height: 1.6;\">Anh/Chị vừa nhận được chỉ đạo từ CEO. Vui lòng xác nhận và bổ sung thông tin còn thiếu:</p>\n    \n    <!-- Clarification Details -->\n    <div style=\"background: #ffffff; border-left: 4px solid #667eea; padding: 20px; margin: 20px 0; border-radius: 0 8px 8px 0; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n      <h3 style=\"color: #667eea; margin-top: 0; margin-bottom: 15px;\">📌 {{ $json.tieuDe }}</h3>\n      <table style=\"width: 100%; border-collapse: collapse;\">\n        <tr style=\"border-bottom: 1px solid #eee;\">\n          <td style=\"padding: 10px 0; color: #888; width: 120px;\">Nguồn:</td>\n          <td style=\"padding: 10px 0; color: #333;\">{{ $json.nguonGiaoViec }}</td>\n        </tr>\n        {{ $json.t2NhiemVu ? '<tr style=\"border-bottom: 1px solid #eee;\"><td style=\"padding: 10px 0; color: #888;\">Nhiệm vụ:</td><td style=\"padding: 10px 0; color: #333;\">' + $json.t2NhiemVu + '</td></tr>' : '' }}\n        {{ $json.t3ChiTieu ? '<tr style=\"border-bottom: 1px solid #eee;\"><td style=\"padding: 10px 0; color: #888;\">Chỉ tiêu:</td><td style=\"padding: 10px 0; color: #333;\">' + $json.t3ChiTieu + '</td></tr>' : '' }}\n        {{ $json.t4ThoiHan ? '<tr><td style=\"padding: 10px 0; color: #888;\">Thời hạn:</td><td style=\"padding: 10px 0; color: #e74c3c; font-weight: bold;\">' + $json.t4ThoiHan + '</td></tr>' : '' }}\n      </table>\n    </div>\n    \n    <!-- Missing 4T Warning -->\n    {{ !$json.has4T ? '<div style=\"background: #fff3cd; border-left: 4px solid #ffc107; padding: 15px; margin: 20px 0; border-radius: 0 8px 8px 0;\"><p style=\"margin: 0; color: #856404;\"><strong>⚠️ Lưu ý:</strong> Chỉ đạo này đang thiếu thông tin theo quy tắc 4T. Vui lòng bổ sung đầy đủ.</p></div>' : '' }}\n    \n    <!-- CTA Button -->\n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"{{ $json.prefillUrl }}\" style=\"display: inline-block; background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%); color: #ffffff; padding: 16px 45px; text-decoration: none; border-radius: 25px; font-weight: bold; font-size: 16px; box-shadow: 0 4px 15px rgba(17, 153, 142, 0.4);\">\n        ✏️ Xác nhận & Bổ sung thông tin\n      </a>\n    </div>\n    \n    <p style=\"font-size: 14px; color: #888; text-align: center; margin-top: 20px;\">Hoặc xem chi tiết tại: <a href=\"{{ $json.clarificationUrl }}\" style=\"color: #667eea;\">Notion</a></p>\n    \n  </div>\n  \n  <!-- Footer -->\n  <div style=\"background: #343a40; padding: 20px; text-align: center; border-radius: 0 0 8px 8px;\">\n    <p style=\"color: #adb5bd; margin: 0; font-size: 13px;\">Hệ thống theo dõi Chỉ đạo CEO - EsuhaiGroup</p>\n    <p style=\"color: #6c757d; margin: 8px 0 0 0; font-size: 11px;\">Email tự động | Resolution: {{ $json.emailResolution }}</p>\n  </div>\n  \n</div>",
        "options": {
          "ccList": "={{ $json.ccEmail }}",
          "bccList": "={{ $json.bccEmail }}"
        }
      },
      "id": "send-email-001",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1860,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "QMCQ41m8F8hiBKal",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.clarificationId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Tình trạng|select",
              "selectValue": "📧 Đã gửi email"
            }
          ]
        },
        "options": {}
      },
      "id": "update-status-001",
      "name": "Update Status → Đã gửi email",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2090,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "sDlz7N367IegDSAc",
          "name": "Notion ESUHAI"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Notion Trigger - New Clarification": {
      "main": [
        [
          {
            "node": "Extract Clarification Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Clarification Data": {
      "main": [
        [
          {
            "node": "Filter: Cần gửi email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Cần gửi email": {
      "main": [
        [
          {
            "node": "Switch: Email Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Email Source": {
      "main": [
        [
          {
            "node": "Build Email (Direct)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get HR Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Email (Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get HR Page": {
      "main": [
        [
          {
            "node": "Build Email (HR Lookup)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email (Direct)": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email (HR Lookup)": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build Email (Fallback)": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge All Branches": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Update Status → Đã gửi email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "713be899eac04f9192785798e717fb5898ccbfb1aeeb4016ea13e34e3e92a901"
  },
  "id": "",
  "tags": []
}
