automation_n8n/WF1_v8.1_PRODUCTION.json
{
  "name": "CEO Directive - WF1 - Gửi Yêu cầu Xác nhận (v8.1 PRODUCTION)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "mode": "everyHour"
            }
          ]
        }
      },
      "id": "schedule-001",
      "name": "Schedule: Mỗi giờ",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/9abf8678-830d-47d6-9e4f-189a41b28493/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"or\": [\n      {\n        \"property\": \"Tình trạng\",\n        \"select\": {\n          \"equals\": \"Chờ làm rõ\"\n        }\n      },\n      {\n        \"property\": \"Tình trạng\",\n        \"select\": {\n          \"equals\": \"🆕 Mới tạo\"\n        }\n      },\n      {\n        \"property\": \"Tình trạng\",\n        \"select\": {\n          \"equals\": \"Mới tạo\"\n        }\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "query-001",
      "name": "Query: Clarifications cần gửi email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "sDlz7N367IegDSAc",
          "name": "Notion ESUHAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// WF1 v8.1 - SPLIT & FILTER BY SEND LIMIT\n// Giới hạn: 2 lần/ngày max\n// ========================================\n\nconst response = $input.first().json;\nconst results = response.results || [];\n\nif (results.length === 0) {\n  console.log('[WF1 v8.1] Không có Clarification nào cần gửi email');\n  return [];\n}\n\nconsole.log(`[WF1 v8.1] Query trả về ${results.length} Clarifications`);\n\n// Get today's date string (YYYY-MM-DD)\nconst today = new Date().toISOString().split('T')[0];\nconsole.log(`[WF1 v8.1] Today: ${today}`);\n\n// Filter items that can receive email\nconst eligibleItems = [];\nconst skippedItems = [];\n\nresults.forEach((item, index) => {\n  const props = item.properties || {};\n  \n  // Get title for logging\n  let tieuDe = '';\n  for (const [name, data] of Object.entries(props)) {\n    if (data.type === 'title' && data.title?.[0]) {\n      tieuDe = data.title[0].plain_text || '';\n      break;\n    }\n  }\n  \n  // Get send count\n  let soLanGui = 0;\n  for (const [name, data] of Object.entries(props)) {\n    if (data.type === 'number' && name.toLowerCase().includes('số lần')) {\n      soLanGui = data.number || 0;\n      break;\n    }\n  }\n  \n  // Get last send date\n  let ngayGuiGanNhat = '';\n  for (const [name, data] of Object.entries(props)) {\n    if (data.type === 'date' && name.toLowerCase().includes('ngày gửi')) {\n      ngayGuiGanNhat = data.date?.start || '';\n      break;\n    }\n  }\n  \n  // Extract just date part if datetime\n  if (ngayGuiGanNhat) {\n    ngayGuiGanNhat = ngayGuiGanNhat.split('T')[0];\n  }\n  \n  // Check eligibility\n  // Rule: Max 2 emails per day\n  const isToday = ngayGuiGanNhat === today;\n  const canSend = !isToday || soLanGui < 2;\n  \n  console.log(`[WF1 v8.1] #${index + 1} \"${tieuDe.substring(0, 30)}...\" | Gửi: ${soLanGui} lần | Ngày gần nhất: ${ngayGuiGanNhat} | Today: ${isToday} | Can Send: ${canSend}`);\n  \n  if (canSend) {\n    eligibleItems.push({ json: item });\n  } else {\n    skippedItems.push({ title: tieuDe, reason: `Đã gửi ${soLanGui} lần hôm nay` });\n  }\n});\n\nconsole.log(`[WF1 v8.1] Eligible: ${eligibleItems.length} | Skipped: ${skippedItems.length}`);\n\nif (skippedItems.length > 0) {\n  console.log('[WF1 v8.1] Skipped items:', JSON.stringify(skippedItems, null, 2));\n}\n\nreturn eligibleItems;"
      },
      "id": "split-001",
      "name": "Split & Filter by Limit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        710,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// WF1 v8.1 - PROCESS CLARIFICATION\n// Entry IDs THỰC từ Form mới tạo 28/12/2025\n// CC: hoangkha@esuhai.com trên MỌI email\n// ========================================\n\nconst item = $input.first().json;\nconst properties = item.properties || {};\n\nfunction getField(type, keywords) {\n  for (const [name, data] of Object.entries(properties)) {\n    if (data.type !== type) continue;\n    const nameLower = name.toLowerCase();\n    if (keywords.some(kw => nameLower.includes(kw.toLowerCase()))) {\n      if (type === 'title') return data.title?.[0]?.plain_text || '';\n      if (type === 'rich_text') return data.rich_text?.[0]?.plain_text || '';\n      if (type === 'select') return data.select?.name || '';\n      if (type === 'date') return data.date?.start || '';\n      if (type === 'email') return data.email || '';\n      if (type === 'number') return data.number || 0;\n    }\n  }\n  return '';\n}\n\n// Extract fields\nlet tieuDe = '';\nfor (const [name, data] of Object.entries(properties)) {\n  if (data.type === 'title' && data.title?.[0]) {\n    tieuDe = data.title[0].plain_text || '';\n    break;\n  }\n}\n\nconst tinhTrang = getField('select', ['tình trạng', 'status']);\nconst t2NhiemVu = getField('rich_text', ['nhiệm vụ', 't2']);\nconst t3ChiTieu = getField('rich_text', ['chỉ tiêu', 't3']);\nconst t4ThoiHan = getField('date', ['thời hạn', 't4', 'deadline']);\nconst nguonGiaoViec = getField('select', ['nguồn']);\nconst emailDauMoi = getField('email', ['email', 'đầu mối']);\nconst soLanGui = getField('number', ['số lần']) || 0;\nconst noiDungGoc = getField('rich_text', ['nội dung', 'gốc', 'original']);\nconst ngayNhan = getField('date', ['ngày nhận', 'received']);\n\n// Get HR relation\nlet hrRelationId = '';\nlet t1Name = '';\nfor (const [name, data] of Object.entries(properties)) {\n  if (data.type === 'relation') {\n    const nameLower = name.toLowerCase();\n    if (nameLower.includes('người nhận') || nameLower.includes('hr') || nameLower.includes('chỉ đạo') || nameLower.includes('đầu mối')) {\n      if (data.relation && data.relation.length > 0) {\n        hrRelationId = data.relation[0].id || '';\n      }\n      break;\n    }\n  }\n}\n\n// Determine email recipient\nlet emailSource = 'fallback';\nlet sendTo = 'vynnl@esuhai.com';\nlet needHRLookup = false;\n\nif (emailDauMoi && emailDauMoi.includes('@')) {\n  emailSource = 'direct_field';\n  sendTo = emailDauMoi;\n} else if (hrRelationId) {\n  emailSource = 'hr_lookup';\n  needHRLookup = true;\n}\n\n// ========================================\n// BUILD PREFILL URL - Entry IDs THỰC\n// Form: Làm rõ Chỉ đạo & Xác nhận Nhận việc\n// Created: 28/12/2025\n// ========================================\nconst formId = '1FAIpQLScD0T1ptDRydqDeVw7Q7rktnAvT7jHZlbIhqR175SRb9F2BrA';\nconst baseUrl = `https://docs.google.com/forms/d/e/${formId}/viewform?usp=pp_url`;\n\n// Entry IDs THỰC từ form\nconst entryIds = {\n  maClarification: '2121763497',\n  nguonChiDao: '165701548',\n  ngayNhanChiDao: '154144658',\n  noiDungGoc: '1824948198',\n  dauMoiT1: '1619940933',\n  t2NhiemVu: '965316617',\n  t3ChiTieu: '780968388',\n  t4ThoiHan: '1750689024',\n  ghiChu: '2087482442',\n  xacNhan: '1109012960'\n};\n\n// Build params\nconst params = [\n  `entry.${entryIds.maClarification}=${encodeURIComponent(item.id || '')}`,\n  `entry.${entryIds.nguonChiDao}=${encodeURIComponent(nguonGiaoViec || 'CEO')}`,\n  `entry.${entryIds.ngayNhanChiDao}=${encodeURIComponent(ngayNhan || new Date().toISOString().split('T')[0])}`,\n  `entry.${entryIds.noiDungGoc}=${encodeURIComponent(noiDungGoc || tieuDe || '')}`,\n  `entry.${entryIds.dauMoiT1}=${encodeURIComponent(t1Name || '')}`,\n  `entry.${entryIds.t2NhiemVu}=${encodeURIComponent(t2NhiemVu || '')}`,\n  `entry.${entryIds.t3ChiTieu}=${encodeURIComponent(t3ChiTieu || '')}`,\n  `entry.${entryIds.t4ThoiHan}=${encodeURIComponent(t4ThoiHan || '')}`\n].join('&');\n\nconst prefillUrl = `${baseUrl}&${params}`;\n\n// Calculate new send count\nconst newSoLanGui = soLanGui + 1;\nconst today = new Date().toISOString().split('T')[0];\n\nconsole.log(`[WF1 v8.1] Processing: \"${tieuDe.substring(0, 40)}\" | To: ${sendTo} | Count: ${soLanGui} → ${newSoLanGui}`);\n\nreturn {\n  clarificationId: item.id,\n  clarificationUrl: item.url || `https://www.notion.so/${item.id.replace(/-/g, '')}`,\n  tieuDe,\n  tinhTrang,\n  t2NhiemVu,\n  t3ChiTieu,\n  t4ThoiHan,\n  nguonGiaoViec: nguonGiaoViec || 'CEO',\n  noiDungGoc: noiDungGoc || tieuDe,\n  ngayNhan: ngayNhan || today,\n  emailSource,\n  sendTo,\n  // CC anh Kha trên MỌI email để theo dõi\n  ccEmail: 'hoangkha@esuhai.com',\n  bccEmail: '',\n  hrRelationId,\n  needHRLookup,\n  prefillUrl,\n  has4T: Boolean(tieuDe && t2NhiemVu && t3ChiTieu && t4ThoiHan),\n  // Tracking\n  oldSoLanGui: soLanGui,\n  newSoLanGui: newSoLanGui,\n  todayDate: today\n};"
      },
      "id": "process-001",
      "name": "Process Clarification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.needHRLookup }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-hr-001",
      "name": "IF: Need HR Lookup?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1170,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.hrRelationId }}",
          "mode": "id"
        }
      },
      "id": "get-hr-001",
      "name": "Get HR Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1400,
        200
      ],
      "credentials": {
        "notionApi": {
          "id": "sDlz7N367IegDSAc",
          "name": "Notion ESUHAI"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// WF1 v8.1 - RESOLVE HR EMAIL\n// Fallback nếu không tìm thấy email\n// ========================================\n\nconst hrPage = $input.first().json;\nconst originalData = $('Process Clarification').item.json;\n\nlet hrEmail = '';\nlet hrName = '';\nconst props = hrPage.properties || {};\n\n// Find email\nfor (const [name, data] of Object.entries(props)) {\n  if (data.type === 'email' && data.email) {\n    hrEmail = data.email;\n    break;\n  }\n  if (data.type === 'rich_text' && data.rich_text?.[0]?.plain_text) {\n    const text = data.rich_text[0].plain_text;\n    if (text.includes('@')) {\n      hrEmail = text.trim();\n      break;\n    }\n  }\n}\n\n// Find name\nfor (const [name, data] of Object.entries(props)) {\n  if (data.type === 'title' && data.title?.[0]) {\n    hrName = data.title[0].plain_text || '';\n    break;\n  }\n}\n\nlet sendTo = hrEmail || 'vynnl@esuhai.com';\nlet emailResolution = hrEmail ? 'hr_lookup' : 'fallback_from_hr';\n\nconsole.log(`[WF1 v8.1] HR: ${hrName} | Email: ${hrEmail || '(none)'} → sendTo: ${sendTo}`);\n\n// Rebuild prefill URL with HR name\nconst formId = '1FAIpQLScD0T1ptDRydqDeVw7Q7rktnAvT7jHZlbIhqR175SRb9F2BrA';\nconst baseUrl = `https://docs.google.com/forms/d/e/${formId}/viewform?usp=pp_url`;\n\nconst entryIds = {\n  maClarification: '2121763497',\n  nguonChiDao: '165701548',\n  ngayNhanChiDao: '154144658',\n  noiDungGoc: '1824948198',\n  dauMoiT1: '1619940933',\n  t2NhiemVu: '965316617',\n  t3ChiTieu: '780968388',\n  t4ThoiHan: '1750689024'\n};\n\nconst params = [\n  `entry.${entryIds.maClarification}=${encodeURIComponent(originalData.clarificationId || '')}`,\n  `entry.${entryIds.nguonChiDao}=${encodeURIComponent(originalData.nguonGiaoViec || 'CEO')}`,\n  `entry.${entryIds.ngayNhanChiDao}=${encodeURIComponent(originalData.ngayNhan || '')}`,\n  `entry.${entryIds.noiDungGoc}=${encodeURIComponent(originalData.noiDungGoc || originalData.tieuDe || '')}`,\n  `entry.${entryIds.dauMoiT1}=${encodeURIComponent(hrName || '')}`,\n  `entry.${entryIds.t2NhiemVu}=${encodeURIComponent(originalData.t2NhiemVu || '')}`,\n  `entry.${entryIds.t3ChiTieu}=${encodeURIComponent(originalData.t3ChiTieu || '')}`,\n  `entry.${entryIds.t4ThoiHan}=${encodeURIComponent(originalData.t4ThoiHan || '')}`\n].join('&');\n\nconst prefillUrl = `${baseUrl}&${params}`;\n\nreturn {\n  ...originalData,\n  sendTo: sendTo,\n  hrName: hrName,\n  emailResolution: emailResolution,\n  prefillUrl: prefillUrl\n};"
      },
      "id": "resolve-hr-001",
      "name": "Resolve HR Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1630,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.sendTo }}",
        "subject": "=📋 [Lần {{ $json.newSoLanGui }}] Xác nhận Chỉ đạo: {{ $json.tieuDe.substring(0, 45) }}{{ $json.tieuDe.length > 45 ? '...' : '' }}",
        "message": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 650px; margin: 0 auto;\">\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; text-align: center; border-radius: 8px 8px 0 0;\">\n    <h1 style=\"color: #fff; margin: 0; font-size: 22px;\">📋 Yêu cầu Xác nhận Chỉ đạo</h1>\n    <p style=\"color: rgba(255,255,255,0.85); margin: 10px 0 0 0;\">Văn phòng Tổng Giám đốc - EsuhaiGroup</p>\n    <p style=\"color: rgba(255,255,255,0.7); margin: 5px 0 0 0; font-size: 12px;\">📧 Email nhắc nhở lần {{ $json.newSoLanGui }}</p>\n  </div>\n  <div style=\"padding: 30px; background: #f8f9fa; border: 1px solid #e9ecef;\">\n    <p style=\"font-size: 16px; color: #333;\">Xin chào {{ $json.hrName || 'Anh/Chị' }},</p>\n    <p style=\"color: #555;\">Anh/Chị có chỉ đạo cần xác nhận và bổ sung thông tin:</p>\n    <div style=\"background: #fff; border-left: 4px solid #667eea; padding: 20px; margin: 20px 0;\">\n      <h3 style=\"color: #667eea; margin-top: 0;\">📌 {{ $json.tieuDe }}</h3>\n      <table style=\"width: 100%;\">\n        <tr><td style=\"color: #888; padding: 8px 0; width: 120px;\">Nguồn:</td><td>{{ $json.nguonGiaoViec }}</td></tr>\n        {{ $json.t2NhiemVu ? '<tr><td style=\"color: #888; padding: 8px 0;\">Nhiệm vụ:</td><td>' + $json.t2NhiemVu + '</td></tr>' : '' }}\n        {{ $json.t3ChiTieu ? '<tr><td style=\"color: #888; padding: 8px 0;\">Chỉ tiêu:</td><td>' + $json.t3ChiTieu + '</td></tr>' : '' }}\n        {{ $json.t4ThoiHan ? '<tr><td style=\"color: #888; padding: 8px 0;\">Thời hạn:</td><td style=\"color: #e74c3c; font-weight: bold;\">' + $json.t4ThoiHan + '</td></tr>' : '' }}\n      </table>\n    </div>\n    {{ !$json.has4T ? '<div style=\"background: #fff3cd; border-left: 4px solid #ffc107; padding: 15px; margin: 20px 0;\"><p style=\"margin: 0; color: #856404;\"><strong>⚠️</strong> Chỉ đạo này đang thiếu thông tin 4T. Vui lòng bổ sung đầy đủ.</p></div>' : '' }}\n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"{{ $json.prefillUrl }}\" style=\"display: inline-block; background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%); color: #fff; padding: 16px 45px; text-decoration: none; border-radius: 25px; font-weight: bold; font-size: 16px;\">✏️ Xác nhận & Bổ sung thông tin</a>\n    </div>\n    <p style=\"font-size: 14px; color: #888; text-align: center;\">Xem chi tiết trên Notion: <a href=\"{{ $json.clarificationUrl }}\" style=\"color: #667eea;\">Mở Notion</a></p>\n  </div>\n  <div style=\"background: #343a40; padding: 20px; text-align: center; border-radius: 0 0 8px 8px;\">\n    <p style=\"color: #adb5bd; margin: 0; font-size: 13px;\">Hệ thống theo dõi Chỉ đạo CEO - EsuhaiGroup</p>\n    <p style=\"color: #6c757d; margin: 5px 0 0 0; font-size: 11px;\">ID: {{ $json.clarificationId }} | Route: {{ $json.emailSource }}</p>\n  </div>\n</div>",
        "options": {
          "ccList": "={{ $json.ccEmail }}"
        }
      },
      "id": "send-email-hr-001",
      "name": "Send Email (HR Path)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1860,
        200
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "QMCQ41m8F8hiBKal",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.sendTo }}",
        "subject": "=📋 [Lần {{ $json.newSoLanGui }}] Xác nhận Chỉ đạo: {{ $json.tieuDe.substring(0, 45) }}{{ $json.tieuDe.length > 45 ? '...' : '' }}",
        "message": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 650px; margin: 0 auto;\">\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; text-align: center; border-radius: 8px 8px 0 0;\">\n    <h1 style=\"color: #fff; margin: 0; font-size: 22px;\">📋 Yêu cầu Xác nhận Chỉ đạo</h1>\n    <p style=\"color: rgba(255,255,255,0.85); margin: 10px 0 0 0;\">Văn phòng Tổng Giám đốc - EsuhaiGroup</p>\n    <p style=\"color: rgba(255,255,255,0.7); margin: 5px 0 0 0; font-size: 12px;\">📧 Email nhắc nhở lần {{ $json.newSoLanGui }}</p>\n  </div>\n  <div style=\"padding: 30px; background: #f8f9fa; border: 1px solid #e9ecef;\">\n    <p style=\"font-size: 16px; color: #333;\">Xin chào Anh/Chị,</p>\n    <p style=\"color: #555;\">Anh/Chị có chỉ đạo cần xác nhận và bổ sung thông tin:</p>\n    <div style=\"background: #fff; border-left: 4px solid #667eea; padding: 20px; margin: 20px 0;\">\n      <h3 style=\"color: #667eea; margin-top: 0;\">📌 {{ $json.tieuDe }}</h3>\n      <table style=\"width: 100%;\">\n        <tr><td style=\"color: #888; padding: 8px 0; width: 120px;\">Nguồn:</td><td>{{ $json.nguonGiaoViec }}</td></tr>\n        {{ $json.t2NhiemVu ? '<tr><td style=\"color: #888; padding: 8px 0;\">Nhiệm vụ:</td><td>' + $json.t2NhiemVu + '</td></tr>' : '' }}\n        {{ $json.t3ChiTieu ? '<tr><td style=\"color: #888; padding: 8px 0;\">Chỉ tiêu:</td><td>' + $json.t3ChiTieu + '</td></tr>' : '' }}\n        {{ $json.t4ThoiHan ? '<tr><td style=\"color: #888; padding: 8px 0;\">Thời hạn:</td><td style=\"color: #e74c3c; font-weight: bold;\">' + $json.t4ThoiHan + '</td></tr>' : '' }}\n      </table>\n    </div>\n    {{ !$json.has4T ? '<div style=\"background: #fff3cd; border-left: 4px solid #ffc107; padding: 15px; margin: 20px 0;\"><p style=\"margin: 0; color: #856404;\"><strong>⚠️</strong> Chỉ đạo này đang thiếu thông tin 4T. Vui lòng bổ sung đầy đủ.</p></div>' : '' }}\n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"{{ $json.prefillUrl }}\" style=\"display: inline-block; background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%); color: #fff; padding: 16px 45px; text-decoration: none; border-radius: 25px; font-weight: bold; font-size: 16px;\">✏️ Xác nhận & Bổ sung thông tin</a>\n    </div>\n    <p style=\"font-size: 14px; color: #888; text-align: center;\">Xem chi tiết trên Notion: <a href=\"{{ $json.clarificationUrl }}\" style=\"color: #667eea;\">Mở Notion</a></p>\n  </div>\n  <div style=\"background: #343a40; padding: 20px; text-align: center; border-radius: 0 0 8px 8px;\">\n    <p style=\"color: #adb5bd; margin: 0; font-size: 13px;\">Hệ thống theo dõi Chỉ đạo CEO - EsuhaiGroup</p>\n    <p style=\"color: #6c757d; margin: 5px 0 0 0; font-size: 11px;\">ID: {{ $json.clarificationId }} | Route: {{ $json.emailSource }}</p>\n  </div>\n</div>",
        "options": {
          "ccList": "={{ $json.ccEmail }}"
        }
      },
      "id": "send-email-direct-001",
      "name": "Send Email (Direct/Fallback)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1400,
        400
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "QMCQ41m8F8hiBKal",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Resolve HR Email').item.json.clarificationId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"📧 Số lần gửi\": {\n      \"number\": {{ $('Resolve HR Email').item.json.newSoLanGui }}\n    },\n    \"📅 Ngày gửi gần nhất\": {\n      \"date\": {\n        \"start\": \"{{ $('Resolve HR Email').item.json.todayDate }}\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "id": "update-hr-001",
      "name": "Update Tracking (HR Path)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2090,
        200
      ],
      "credentials": {
        "notionApi": {
          "id": "sDlz7N367IegDSAc",
          "name": "Notion ESUHAI"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Process Clarification').item.json.clarificationId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"📧 Số lần gửi\": {\n      \"number\": {{ $('Process Clarification').item.json.newSoLanGui }}\n    },\n    \"📅 Ngày gửi gần nhất\": {\n      \"date\": {\n        \"start\": \"{{ $('Process Clarification').item.json.todayDate }}\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "id": "update-direct-001",
      "name": "Update Tracking (Direct/Fallback)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1630,
        400
      ],
      "credentials": {
        "notionApi": {
          "id": "sDlz7N367IegDSAc",
          "name": "Notion ESUHAI"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule: Mỗi giờ": {
      "main": [
        [
          {
            "node": "Query: Clarifications cần gửi email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query: Clarifications cần gửi email": {
      "main": [
        [
          {
            "node": "Split & Filter by Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split & Filter by Limit": {
      "main": [
        [
          {
            "node": "Process Clarification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Clarification": {
      "main": [
        [
          {
            "node": "IF: Need HR Lookup?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Need HR Lookup?": {
      "main": [
        [
          {
            "node": "Get HR Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email (Direct/Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get HR Page": {
      "main": [
        [
          {
            "node": "Resolve HR Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve HR Email": {
      "main": [
        [
          {
            "node": "Send Email (HR Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (HR Path)": {
      "main": [
        [
          {
            "node": "Update Tracking (HR Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (Direct/Fallback)": {
      "main": [
        [
          {
            "node": "Update Tracking (Direct/Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "713be899eac04f9192785798e717fb5898ccbfb1aeeb4016ea13e34e3e92a901"
  },
  "id": "",
  "tags": []
}
